<div class="courses py-2">
  <div class="topCourses p-3">
    <h3 class="m-0">Courses List</h3>

    <div class="footerBanner d-flex justify-content-between align-items-center">
      <div class="leftFooter">
        <div class="custom-select">
          <button class="select-button" type="button" (click)="toggleDropdown()" [attr.aria-expanded]="isOpen">
            <span class="selected-value">{{ selectedValue }}</span>
            <span class="arrow" [ngClass]="{ open: isOpen }"></span>
          </button>
          <ul class="select-dropdown" [ngClass]="{ hidden: isOpen }">
            <li *ngFor="let option of topicsList ; let i = index" (click)="selectOption(option)">
              <div class="d-flex justify-content-between align-items-center ">
                <p class="m-0">{{ option.name }}</p>
                <div class="Icon p-2 rounded-1" [ngClass]="option.color">
                  <i class="fas {{ option.icon }}" aria-hidden="true"></i>
                </div>


              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="rightFooter d-flex align-items-center gap-3">
        <div class="leftbanner d-flex align-items-center gap-2 " [class.activeHeader]="valueheader == 0">
          <p-button (onClick)="changeTab(0)" rounded="true" styleClass="tabHeader">
            <i class="fa-solid fa-table-list"></i>
            <span>Table</span>
          </p-button>
        </div>
  
        <span class="line"></span>

        <div class="rightbanner d-flex align-items-center pos"  [class.activeHeader]="valueheader == 1">
  
          <p-button (onClick)="changeTab(1)"  rounded="true" styleClass="tabHeader">
            <i class="fa-solid fa-chart-simple mx-1"></i>
            <span>Kanban</span>
          </p-button>
   
        </div>
        <button class="openCard" (click)="toggShowInfo()" [class.rotatearrow]="showInfo">
          <i class="fa-solid fa-caret-down"></i>
        </button>
      </div>
    </div>
  </div>


  <app-widget-courses [showInfo]="showInfo"></app-widget-courses>


<p-tabs [value]="valueheader">
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <div class="showDataCourses">
        <div class="headerTabs">
          <div class="tab tab1" [class.active]="valueTable == 0">
            <p-button (onClick)="changeInnerTab(0)" rounded="true" styleClass="tabtext">
              All courses <span>+99</span>
            </p-button>
          </div>
          <div class="tab tab2" [class.active]="valueTable == 1">
            <p-button (onClick)="changeInnerTab(1)" rounded="true" styleClass="tabtext">
              Free Courses <span>+99</span>
            </p-button>
          </div>
          <div class="tab tab3" [class.active]="valueTable == 2">
            <p-button (onClick)="changeInnerTab(2)" rounded="true" styleClass="tabtext">
              Sold courses <span>+99</span>
            </p-button>
          </div>
        </div>

        <!-- التبويبات الداخلية -->
        <p-tabs [value]="valueTable">
          <p-tabpanels>
            <p-tabpanel [value]="0">
              <app-table-courses [courseList]="courseList"></app-table-courses>
            </p-tabpanel>
            <p-tabpanel [value]="1">
              <app-table-courses [courseList]="courseList"></app-table-courses>
            </p-tabpanel>
            <p-tabpanel [value]="2">
              <app-table-courses [courseList]="courseList"></app-table-courses>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </p-tabpanel>

    <p-tabpanel [value]="1">
      <div class="p-5 Kanban bg-white h-75">
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

</div>