.topCourses {
  padding-top: 12px;
  padding-bottom: 11px;
  min-height: 80px;
  border-radius: 6px;
  min-height: 80px;
  background-color: #fff;
  padding: 10px 24px 10px 16px;
  justify-content: space-between;
  height: auto;
  transition: all 1sease-in-out;
  z-index: 3;
}
.topCourses h3 {
    font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
}

.topCourses .iconHeader{
  min-width: 36px;
    min-height: 36px;
    border-radius: 4px;
    box-shadow: 0 0 3px 1.2px #0000000d;
    background-color: var(--bg-btn);
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.rightFooter{
  display: flex;
  align-items: flex-end;
}

.endBannerRight{
  display: flex ;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  transition: all .6sease-in-out;
}
.endBannerRight .icon{
  width: 20px;
    height: 20px;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 150px;
  max-width: 100%;
  border: none !important;
}
.custom-select::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 90%;
  left: -5px !important;
  background-color: #ccc;
  border-radius: 5px;
}
.select-button {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.25rem;
  background-color: white;
  color: #79877e;
  cursor: pointer;
  border: none !important;
}
.select-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.custom-select .selected-value {
  overflow: hidden;
}
.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #79877e;
  transition: transform ease-in-out 0.3s;
}
.arrow.open {
  transform: rotate(180deg);
}
.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 150%;
  border: 1px solid var(--color_border);
  border-radius: 0.25rem;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 10px 0 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 888888;

  opacity: 0;
}
.select-dropdown.hidden {
  opacity: 1;
  visibility: visible;
}
.select-dropdown::-webkit-scrollbar {
  width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.select-dropdown li {
  padding: 10px;
  cursor: pointer;
}
.select-dropdown li.selected {
  background-color: #f2f2f2;
  border-radius: 4px;
  font-weight: bold;
}
.select-dropdown li:hover,
.select-dropdown li:focus {
  background-color: #f2f2f2;
  border-radius: 4px;
}

::ng-deep .tabHeader {
  display: flex;
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
  font-family: sans-serif !important;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out !important;
  outline-color: transparent;
  gap: 10px !important;
  padding: 0px !important;
  padding:  5px 10px !important;
  margin: 0px !important;
  border-radius: 0px !important;

  &:hover{
    background-color: #f2f2f2 !important;
    color: #45505e !important;
    border-radius: 4px !important;
  }
}
.line {
  font-size: 15px;
  color: var(--color_border);
  cursor: pointer;
  background-color: var(--color_border);
  width: 2px;
  height: 20px;
  border-radius: 2px  0 2px 0px;
}

.rightFooter span {
    font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #c6d1dc;
}
.rightFooter i {
  font-size: 14px;
  color: #c6d1dc;
}
.openCard {
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;
  border: 1px solid var(--color_border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0.55px solid #f1f1f1;
  background-color: #fff;
  margin-left: 10px;

  &.rotatearrow {
    border: 1px solid var(--bg-btn);
  }
  &.rotatearrow i {
    transform: rotate(180deg);

    color: var(--bg-btn) !important;
  }

  &.openCard:hover {
    border: 1px solid var(--bg-btn);
  }
}

.openCard i {
  font-size: 15px;
}
.openCard:hover i {
  color: var(--bg-btn);
}

.rightFooter .leftbanner {
  position: relative;
}

.rightFooter .rightbanner {
  position: relative;
}
.activeHeader span,
.activeHeader i {
  color: var(--green1);
}
.activeHeader::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  width: 100%;
  background: var(--green1);
  border-radius: 2px  2px  0px 0px;
}

.showContent {
  display: flex !important;
  background-color: transparent !important;
  justify-content: space-between !important;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  height: 0;
  gap: 10px;
  transition: opacity 0.5s ease, height 0.5s ease;
}
.showContent.showInfo {
  opacity: 1;
  height: 140px;
}

.showDataCourses {
  padding: 10px;
  width: 100%;
  border-radius: 6px;

  position: relative;
  background-color: #ffffff !important;
}

.showDataCourses .headerTabs {
  height: 48px;
  border-radius: 5px;
  background: #f4f4f4;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerTabs .tab {
  border-radius: 5px;

  position: relative;
}

::ng-deep .tabtext {
  min-width: 129px !important;
  height: 33px !important;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #79877e !important;
  position: relative;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent !important;
  border: none !important;
  padding-block: 0 !important;
  padding-inline: 0px !important;
  font-size: 16px !important;
  font-family: sans-serif !important;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out !important;
  border-radius: var(--p-button-border-radius);
  outline-color: transparent;
  gap: 10px !important;
  font-family: var(--font-family-1) !important;
  margin-left: 5px;
}
::ng-deep .tabtext span {
  background-color: blanchedalmond;
  margin: 0 5px;
  padding: 2px 4px;
    font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 9px;
  line-height: 10.8px;
  letter-spacing: 0px;
  background: #e1e1e1;
  border-radius: 9px;
}
::ng-deep .p-tabpanels {
  border-radius: 6px;
  margin-top: 8px;
  transition: transform .1sease-in-out;
  padding: 0px !important;
  background-color: transparent  !important;
  
}
.active span {
  background-color: #a1d483;
  color: #ffffff;
}

.showDataCourses .headerTabs .tab::before {
  content: "";
  position: absolute;
  width: 1px;
  right: -6px;
  height: 100%;
  background: #79877e36;
  border-radius: 2px;
}

.tab .tabtext span {
  background-color: blanchedalmond;
  margin: 0 5px;
  padding: 2px 4px;
    font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 9px;
  line-height: 10.8px;
  letter-spacing: 0px;

  background: #e1e1e1;

  border-radius: 9px;
}
.headerTabs .tab.active {
  background: #ffffff;
}
.headerTabs .tab.active .tabtext span {
  background: #a1d483;
  color: #ffffff;
}

.addTab {
  background: #79877ec2;
  margin: 0 15px;
  width: 19.626445770263672px;
  height: 22.64330291748047px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 4px;

  color: #ffffff;
}

.headerFliter {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.headerFliter .leftFliter .search {
  width: 204px;
  height: 28px;
}
.headerFliter .leftFliter .search input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
    font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 13px;
  line-height: 19.23px;
  letter-spacing: 0%;

  color: #79877e;
  border: 0.5px solid #d7d7d7;

  border-radius: 5px;
  border-width: 0.5px;
  outline: none;
}
.fliterIcon {
  width: 28px;
  height: 28px;

  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 4px;

  color: #d7d7d7;
}

//

.custom-fliter {
  position: relative;
  display: inline-block;
  width: 90px;
  max-width: 100%;
  border: none !important;
  max-width: 80px !important;
  height: 28px;
  text-align: center;

  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #d7d7d7;
}
.custom-fliterDate {
  position: relative;
  max-width: 100%;
  border: none !important;
  height: 28px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #d7d7d7;
}
.select-button-fliter {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 0.25rem;
  background-color: white;
  color: #79877e;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  overflow: hidden;
}
.select-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.custom-select .selected-value {
  overflow: hidden;
  text-align: center;
}

.select-dropdown-fliter {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--color_border);
  border-radius: 0.25rem;
  background-color: white;
  list-style: none;
  padding: 0px;
  margin: 10px 0 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 888888;

  opacity: 0;
}
.select-dropdown-fliter.hidden {
  opacity: 1;
  visibility: visible;
}
.select-dropdown-fliter::-webkit-scrollbar {
  width: 7px;
}
.select-dropdown-fliter::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.select-dropdown-fliter::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.select-dropdown-fliter li {
  padding: 10px;
  cursor: pointer;
}
.select-dropdown-fliter li.selected {
  background-color: #f2f2f2;
  border-radius: 4px;
  font-weight: bold;
}
.select-dropdown-fliter li:hover,
.select-dropdown-fliter li:focus {
  background-color: #f2f2f2;
  border-radius: 4px;
}

.rightFliter .btn_add {
  background-color: var(--green1);
  border: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  width: 114px;
  height: 28px;

  border-radius: 3px;
    font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

// Kanpan desgin
.Kanbans{
  background-color:transparent !important;
  border-radius: 5px;
  height: calc(100dvh - 185px);
  position: relative;

}
::ng-deep .KanbansTab{
  background-color:transparent !important;

}
.KanbansCard{
  overflow-y: scroll;
  &::-webkit-scrollbar{
    display: none
  }
}
.headerKanban {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff !important;
  border-radius: 5px;
  height: 48px;
}
 .inputSearch  input{
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  width: 303px;
  height: 36px;
  padding: 4px 12px;
  font-size: 13px !important;
  outline: none;
}
.inputSearch  input:hover , .inputSearch  input:focus{
  border: 1px solid #7ad34c;
}

.addCourse button {
  outline: none;
  border: none;
  background-color: #7ad34c;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 10px;
  justify-content: center;
  height: 36px;
  min-width: 100px;
  color: #fff;
}





.Kanbans{
  background-color:transparent !important;
  border-radius: 5px;
  height: calc(100dvh - 185px);

}
::ng-deep .KanbansTab{
  background-color:transparent !important;

}
.KanbansCard{
  overflow-y: scroll;
  &::-webkit-scrollbar{
    display: none
  }
}
.headerKanban {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff !important;
  border-radius: 5px;
  height: 48px;
}
.headerKanban .inputSearch  input{
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  width: 303px;
  height: 36px;
  padding: 4px 12px;
  font-size: 13px !important;
  outline: none;
}
.headerKanban .inputSearch  input:hover , .headerKanban .inputSearch  input:focus{
  border: 1px solid #7ad34c;
}

.addCourse button {
  outline: none;
  border: none;
  background-color: #7ad34c;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 10px;
  justify-content: center;
  height: 36px;
  min-width: 100px;
  color: #fff;
}

.cardKanban {
  width: 280px;
  margin: 15px 0;
}
.headerCard {
  width: 280px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px 8px 4px 4px;
  background: #fff;
  padding: 8px 10px 2px;
  display: flex;
  border-bottom: 4px solid rgba(223, 222, 13, 0.376);
;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  padding-inline-start: 10px;
}
.progressBar {
  width: 13.623372845153039px;
  height: 13.623372845153039px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #778fe6cf;
}
.headerCard .stageTitle {
    font-family: var(--font-family-1);
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0%;
  color: #79877e;
}
.headerCard .stageName {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.stageName .numberOfStage {
  display: inline-block;
  font-size: 8px;

  width: 10px;
  height: 10px;
  background: #e1e1e1;
  box-shadow: 0px 0px 4px 0px #0000001f;

  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.headerCard .stageStatus {
  font-size: 8px;
}
.addStage i{
  color: #C6D1DC;
  cursor: pointer;
}

.advanced-filter-container{
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all ease-in-out; 
}
.my-svg path{

  fill: #E5E5E5 !important;
}
 .advanced-filter-container:hover , .advanced-filter-container:hover .my-svg path
  {
  border-color: #7ad34c;
  fill: #7ad34c !important;
}

.CreationDate{
  display: flex ;
  min-width: 74px;
  height: 36px;
  padding: 0 9px;
  justify-content: center;
  align-items: center;
  gap: var(--Border-Radius-4-px, 4px);
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  z-index: 25;
  transition: .2s all ease-in-out; 

}
.CreationDate p{
  color: #687f93;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}
.icon{
  width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CreationDate .icon i{

    color: #a1a5b7;
    font-size: 18px;

}
.CreationDate:hover {
  border: 1px solid #7ad34c;

}
.CreationDate:hover p , .CreationDate:hover .icon i{
  color: #7ad34c;

}
.CreationDateFouce{
  border: 1px solid #7ad34c;

}
.CreationDateFouce p , .CreationDateFouce .icon i{
  color: #7ad34c;

}

// ::ng-deep .p-inputtext{
//       /* border: 0; */
//       position: absolute;
//       top: -23px;
//       width: 100%;
//       left: -118px;
//       background: transparent !important;
//       height: 36px;
//       min-width: 125px;
//       border: 0 !important;
//       color: transparent !important; /* Hides the date text */
//       cursor: pointer !important;
// }

// ::ng-deep .p-datepicker-panel{
//   position: absolute;
//   top: 27px !important;;
//   left: -129px !important;;
//   z-index: 1002;
//   transform-origin: center top;
//   margin-top: 2px;

// }

.clear{
  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 777777777777;
  color: #7ad34c;
}
.clear:hover{
  color: #f32c2c;
}

.advanced-filter-container{
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all ease-in-out; 
}
.my-svg path{

  fill: #E5E5E5 !important;
}
 .advanced-filter-container:hover , .advanced-filter-container:hover .my-svg path
  {
  border-color: #7ad34c;
  fill: #7ad34c !important;
}

.CreationDate{
  display: flex ;
  min-width: 74px;
  height: 36px;
  padding: 0 9px;
  justify-content: center;
  align-items: center;
  gap: var(--Border-Radius-4-px, 4px);
  border-radius: 6px;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  z-index: 25;
  transition: .2s all ease-in-out; 

}
.CreationDate p{
  color: #687f93;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}
.icon{
  width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CreationDate .icon i{

    color: #a1a5b7;
    font-size: 18px;

}
.CreationDate:hover {
  border: 1px solid #7ad34c;

}
.CreationDate:hover p , .CreationDate:hover .icon i{
  color: #7ad34c;

}
.CreationDateFouce{
  border: 1px solid #7ad34c;

}
.CreationDateFouce p , .CreationDateFouce .icon i{
  color: #7ad34c;

}


:host ::ng-deep .CreationDate .p-inputtext{
  position: absolute;
  top: -23px;
  width: 100%;
  left: -118px;
  background: transparent !important;
  opacity: 0 !important;
  height: 36px;
  min-width: 125px;
  border: 0 !important;
  color: transparent !important;
  cursor: pointer !important;

}
:host ::ng-deep .CreationDate .p-datepicker-panel {
  position: absolute;
  top: 27px !important;
  left: -129px !important;
  z-index: 1002;
  transform-origin: center top;
  margin-top: 2px;
}
.dropdown {
  position: relative;

  
}

.dropdown-btn {
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-content {
  display: block;
  position: absolute;
  background: white;
  min-width: 160px;
  height: 200px;
  white-space: nowrap;
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 3px;
    background-color: #ffffff00;

  }
  &::-webkit-scrollbar-thumb{
    background-color: #cbff9ba9;
    border-radius: 4px;
  }
  z-index: 106;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 40px;
  margin-inline-start: 50px;
  border-radius: 6px;
  animation: grow 0.5s ease-out;
}
.progressBar {
  width:15px;
  height:15px;
  border-radius: 50%;
  background: #fff;
  margin-right: 5px;
  border: 4px solid rgba(119, 143, 230, 0.8117647059);
}

@keyframes grow {
  0% {
    transform:scale(0.6);
    top: 0px;
    opacity: 0;
  }

  100% {
    top: 35px;
    transform:  scale(1);
    opacity: 1;
  }
}



.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;

}

.dropdown-item:hover {
  background-color: #f1f1f1;
  border-radius: 6px;

}