<div class="overlay"></div>
<div class="addTopic">
    <app-top-pop [bgColor]="'#fee4e2'" [ColorIcon]="'#ff4b55'" [NameIcon]="'fa-solid fa-trash-can'" [NamePopup]="'TaskManagement.form.deleteTask' | translate"  (isVisibleChange)="closePopup()"></app-top-pop>
    <div class="content">
        <div class="Icon mt-3">
            <img src="Images/delete.svg" alt="" >
        </div>
        <p class="textConfirm">{{"TaskManagement.delete.confirmTitle" | translate}}</p>

        <p class="textTitle" *ngIf="taskTitle">
            Task "<strong>{{ taskTitle }}</strong>" {{"TaskManagement.delete.confirmMessage" | translate}}
        </p>
        <p class="textTitle" *ngIf="!taskTitle">
            {{"TaskManagement.delete.confirmMessageNoTitle" | translate}}
        </p>
    </div>

    <div class="content">
        <div class="btns w-100 d-flex flex-column gap-2" >
            <button class="btn btnDelete" (click)="deleteTask()" [disabled]="isDeleting">
                <ng-container *ngIf="!isDeleting; else loading">
                  {{"TaskManagement.delete.deleteButton" | translate}}
                </ng-container>
                <ng-template #loading>
                  <i class="fa-solid fa-spinner fa-spin"></i> {{"TaskManagement.delete.deleting" | translate}}
                </ng-template>
            </button>            
            <button class="btn btnCancel" (click)="closePopup()">{{"TaskManagement.delete.cancelButton" | translate}}</button>
        </div>
    </div>
</div>
