.addStage{
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8888;
    width: 600px;
    height: 375px;
    border: 0.5px solid #E1E1E1;
    background-color: var(--white);
    border-radius: 15px;  
    transition: .5s opacity ease-in-out;
    opacity: 0;

}
.addStage.showelement{
  opacity: 2;
  visibility: visible;
}

.addStage .right img{
    height: 90%;
}

.inputName input{
    outline: none;
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--color_border);
  }
  .topContent .Icon{
    padding: 3px 7px !important;
    display: flex;
     font-size: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .topContent .Icon i{
    font-size: 15px !important;
 
  }
.medialContent textarea {
    width: 100%;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid var(--color_border);
    outline: none;
    resize:none;
    height: 80px;
  }


  .custom-select {
    position: relative;
    display: inline-block;
    width: 130px;
    max-width: 100%;
  }
  .select-button {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.675em 1em;
    border: 1px solid  var(--color_border);
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
  }
  .select-button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
  }
  .custom-select .selected-value{
     overflow: hidden;
  }
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
  }
  .arrow.open {
    transform: rotate(180deg);
  }
  .select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--color_border);
    border-radius: 0.25rem;
    background-color: white;
    list-style: none;
    padding: 10px;
    margin: 10px 0 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

    opacity: 0;

  }
  .select-dropdown.hidden{
    opacity: 1;
  }
  .select-dropdown::-webkit-scrollbar {
    width: 7px;
  }
  .select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  .select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  .select-dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  .select-dropdown li.selected {
    background-color: #f2f2f2;
    border-radius: 4px;
    font-weight: bold;
  }
  .select-dropdown li:hover,
  .select-dropdown li:focus {
    background-color: #f2f2f2;
    border-radius: 4px;
  }


  .btn_preview{
    padding: 5px 15px;
    border: none;
    background-color: var(--bg-btn);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
  }
  .btn_preview:disabled{
    background-color: var(--color_border);
    color: var(--color_text);
    cursor: not-allowed;
  }

  .cardTabs{
    gap: 10px;
    padding: 10px;
    border-radius: 10px !important;
    background-color: var(--white);
    box-shadow: 0px 3px 24px rgba(50, 56, 51, 0.36);
    position: absolute;
    top: 120px;
    width: 250px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    padding: 10px;
    z-index: 5888;  
    transition: 0.2s all ease-in;

  }
  
 
  .cardTabs.showTabs{
    opacity: 0;
    visibility: hidden;

  
  }
  

.containerCheck input {
    display: none;
  }
  

  .containerCheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #2196f300;
    border-radius: 4px;
    transition: all 0.25s;
  }
  
  .containerCheck input:checked~.checkmark {
    background-color:var(--green1);;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.4px solid black;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    transition: all 0.25s, border-width 0.1s;
  }
  
  .containerCheck input:checked~.checkmark:after {
    left: 5.4px;
    top: 3px;
    width: 5px;
    height: 9px;
    border-color: rgba(255, 255, 255, 0) white white rgba(255, 255, 255, 0);
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
  }
  
  .checkedCard {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px;
    border: 1px solid var(--color_border);
    padding: 5px;
    gap: 10px;
  }
  