<div class="overlay" *ngIf="isAddPopupVisible" ></div>

<div class="addStage"  [class.showelement]="isAddPopupVisible"   >

    <app-top-pop [NamePopup]="'Add Topic'" (isVisibleChange)="handleCancel()"></app-top-pop>


    <div class="content d-flex justify-content-between align-items-center p-3">
        <form  [formGroup]="dataStage"  class="left  d-flex  flex-column gap-3">
            <div class="topContent d-flex   gap-3">
                <div class="Icon   colorBox  rounded-1" #select  [ngClass]="colorDefault" (click)="showTab()">
                    <i [class]="currentIcon" aria-hidden="true"></i>
                  </div>


                  @defer ( on interaction(select)) {
                    <div class="cardTabs " [class.showTabs]="ishowTab">
                        <!-- Use Select Icon Copompot here -->
          
                        <app-select-icon
                            [Icons]="icons"
                            [colors]="colors"
                            (iconSelected)="handleIconSelected($event)"
                            (colorSelected)="handleColorSelected($event)"
                            (closeModal)="showTab()" 
                            
                            >
                      </app-select-icon>
          
           
                
                    </div>
          
                    
                  }
        
                
           
                <div class="inputName">
                    <input type="text" placeholder=" Topic Name" max="40" formControlName="name" >
                </div>
                  
            </div>
            <div class="medialContent">
                <textarea name="" id="" placeholder="Description" formControlName="description"></textarea>

            </div>
            <div class="bottomContent d-flex  gap-3">


                <div class="custom-select">
                    <button class="select-button" type="button" (click)="toggleDropdown()"[attr.aria-expanded]="isOpen" 
                    [disabled]="dataStage.get('isMain')?.value">
                    
                    <span class="selected-value">{{selectedValue}}</span>
                      <span class="arrow"  [ngClass]="{ 'open': isOpen}"></span>
                    </button>
                    <ul class="select-dropdown "   [ngClass]="{ 'hidden': isOpen }">
                        <li *ngFor="let option of options" (click)="selectOption(option)">
                            {{ option.name }}
                          </li>
                    </ul>
                  </div>
              
                <div class="d-flex gap-2 checkedCard">
                  <label class="labelChecked" for="invalidCheck">Main</label>
              
                  <label class="containerCheck">
                    <input type="checkbox" id="invalidCheck" formControlName="isMain">
                    <div class="checkmark"></div>
                  </label>
                </div>

            </div>
       
        </form>

        <div class="right">
            <img src="Images/imageModel.png" alt="">

        </div>
    </div>

    <div class="footerModel d-flex justify-content-end align-items-end mx-3">
        <div class="btns ">
          <button class="btn_preview rounded-2" (click)="addTopic()" [disabled] ="dataStage.invalid">Next</button>
        </div>
  
      </div>

</div><app-editpopuptopic  [twovisible]="twovisible"  [topicList]="topicList"       />