<div class="cardsCoupon p-3">

    @for (copuon of paginationCouponResponse.result ; track copuon.id) {
    <div class="cardcoupon p-3 mb-3">
        <div class="title">{{copuon.code}}</div>
        <div class="infoCoupon d-flex align-items-center justify-content-between">
            <div class="leftCoupon d-flex flex-column gap-2">
                <span class="persentage">{{copuon.discount}}
                    <span class="discoundType">
                        <span *ngIf="copuon.discountType === 1">%</span>
                        <span *ngIf="copuon.discountType === 0">EGP</span>
                    </span>
                </span>
                <div class="studenets">
                    <p-avatar-group>
                        <p-avatar *ngFor="let student of copuon.students.slice(0, 4)"
                            [image]="baseUrl + student.photoUrl" [styleClass]="'small'" [pTooltip]="student.name"
                            [tooltipPosition]="'top'" shape="circle">
                        </p-avatar>
                        <p-avatar *ngIf="copuon.students.length > 4" [label]="'+' + (copuon.students.length - 4)"
                            [styleClass]="'small'" shape="circle">
                        </p-avatar>
                    </p-avatar-group>
                </div>
                <div class="timeExpire d-flex align-items-center gap-5">

                    <div class="dateExpire d-flex gap-2 align-items-center">
                        <p class="number">{{copuon.validFrom | date:'dd/MM/yyyy' }}</p>

                        <i class="fa-solid fa-angles-right"></i>
                        <p class="number"> {{ copuon.validTo| date:'dd/MM/yyyy' }}</p>

                    </div>
                    <div class="time d-flex gap-2 align-items-center">
                        <div class="fromTime">
                            <i class="fa-solid fa-clock  mx-2"></i>
                            <span class="number"> {{ copuon.validFrom | date:'hh:mm a' }}</span>
                        </div>
                        <i class="fa-solid fa-angles-right"></i>

                        <div class="fromTime">
                            <i class="fa-solid fa-clock mx-2"></i>
                            <span class="number"> {{ copuon.validTo | date:'hh:mm a' }}</span>
                        </div>


                    </div>
                </div>
                <div class="description">
                    <p class="text">{{copuon.notes}}</p>
                </div>

            </div>
            <div class="rightCoupon">
                <div class="view">
                    <button (click)="openDialog(copuon.id)">View Coupon</button>
                </div>
                <div class="numberStgudent ">
                    <p class="number"> <i class="fa-solid fa-graduation-cap mx-1" style="color:#C95D20 ;"></i>
                        {{copuon.allowedUsage}} </p>

                    <p class="number"> <i class="fa-solid fa-graduation-cap mx-1" style="color:#24C12B ;"></i>
                        {{copuon.actualUsage}} </p>
                </div>

            </div>

        </div>

    </div>


    }
    @empty {
    <div class="empty-state h-100">
        <div class="empty-icon">
            <i class="fa-receipt fa-solid"></i>
        </div>
        <h3>No Coupon Found</h3>
        <p>This course doesn't have any Coupon yet. Create your first Coupon to get started!</p>

    </div>

    }



</div>