<div class="cardsCoupon p-3">

    @for (copuom of [4,6,8,8,4,23,8]; track $index) {
        <div class="cardcoupon p-3 mb-3">
            <div class="title">MTS5{{$index}}</div>
            <div class="infoCoupon d-flex align-items-center justify-content-between" >
                <div class="leftCoupon d-flex flex-column gap-2">
                    <span class="persentage">18%</span>
                    <div class="studenets">
                        <p-avatar-group>
                            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="small custom-avatar"  shape="circle" />
                            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" styleClass="small custom-avatar" shape="circle" />
                            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"styleClass="small custom-avatar"  shape="circle" />
                            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" styleClass="small custom-avatar" shape="circle" />
                            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" styleClass="small custom-avatar" shape="circle" />
                            <p-avatar label="+8" shape="circle" styleClass="small custom-avatar" />
                        </p-avatar-group>
                    </div>
                    <div class="timeExpire d-flex align-items-center gap-5">
                        
                    <div class="dateExpire d-flex gap-2 align-items-center">
                        <p class="number">21-3-2024</p>
                        <i class="fa-solid fa-angles-right"></i>
                        <p class="number">21-5-2024</p>
    
                    </div>
                    <div class="time d-flex gap-2 align-items-center">
                        <div class="fromTime">
                            <i class="fa-solid fa-clock  mx-2"></i>
                            <span class="number">10:00</span>
                        </div>
                        <i class="fa-solid fa-angles-right"></i>
    
                        <div class="fromTime">
                            <i class="fa-solid fa-clock mx-2"></i>
                            <span class="number">12:00</span>
                        </div>
                
                
                    </div>
                    </div>
                    <div class="description">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.</p>
                    </div>
    
                </div>
                <div class="rightCoupon">
                    <div class="view">
                        <button>View Coupon</button>
                    </div>
                    <div class="numberStgudent ">
                        <p class="number">  <i class="fa-solid fa-graduation-cap mx-1" style="color:#C95D20 ;"></i> 20 </p>
    
                        <p class="number">  <i class="fa-solid fa-graduation-cap mx-1" style="color:#24C12B ;"></i> 20 </p>
                    </div>
    
                </div>
             
            </div>
    
        </div>
    
      
    }



</div>