<div class="py-2 header px-3 d-flex justify-content-between align-items-center shadow-sm">

    <div class="rightHeader d-flex align-items-center gap-1">
        <div class="iconRignt"  [ngStyle]="{'background-color': bgColor}" >
            <i [class]="NameIcon"   [ngStyle]="{'color': ColorIcon}"></i>
        </div>
        <p class="m-0">{{ NamePopup }}</p>

     
    </div>

     
    <div class="icon" (click)="handleCancel()"> 
        <i class="fa fa-close" aria-hidden="true"></i>
     </div>
</div>