.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 23px;
    height: 23px;
    background-color: var(--color_border);
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 9px;
    transition:  0.2s  background-color ease-in-out;
    z-index: 778855;
    cursor: pointer;
}
.icon i{
    color: var(--white);
    font-size: 17x;
    transition:  0.2s  all ease-in-out;


}
.icon:hover{
  background-color:  var(--red-icon-hover) !important;
  color: var(--white) !important;

}
.header{
  background-color: #ffffff;
}
.rightHeader .iconRignt{
  width: 22px;
  height: 22px;
  border-radius: 5.5px;
  background: #06cc7a1a;
  display: flex;
  justify-content: center;
  align-items: center;

}
.iconRignt i{
  color: #06cc7a;
  font-size: 14px;
}