<div class="topics mt-3">
    <div class="Board">

        <div class="header">
            <div class="text">
                <div class="head">
                    <div class="icon"><i class="fa-solid fa-list-check"></i></div>
                    <div class="name">Task Management</div>
                </div>
                <div class="description">
                    <p>Manage and track your tasks easily and efficiently.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="searchBoard mb-0">
        <div class="search-input">
            <input type="text" placeholder="Search tasks...">
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <button >
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <span>Add New Task</span>
        </button>
    </div>
    <div class="mtf-2">
        <app-cardtodo/>
    </div>

  </div>