.landingPage{


  background-color: #fff; /* Example background color */
}

.feature h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 20px;
    line-height: 1.4;

}

.feature p{
    font-size: 1.4rem;
    margin-bottom: 20px;
    line-height: 1.4;   
    color: #A09DA4;
}