<div class="landingPage">
    <app-navlandingpage></app-navlandingpage>
    <div class="hero mt-5">
         <app-hero></app-hero>
    </div>
    <div class="feature mt-5">
        <h3 class="text-center">Platform Features</h3>
        <p  class="text-center">Empowering both educators and learners with powerful tools</p>
        <div class="featureContainer">
            <app-feature-for-student></app-feature-for-student>
            <app-feature-for-instructor></app-feature-for-instructor>
        </div>
        <app-all-instructor></app-all-instructor>
        
        <app-allcourse></app-allcourse>
        <app-why-students-love/>
        <app-cta-footer></app-cta-footer>
        
        

    </div>
</div>