.topcoupon {
    padding-top: 12px;
    padding-bottom: 11px;
    min-height: 80px;
    border-radius: 6px;
    min-height: 80px;
    background-color: #fff;
    padding: 10px 24px 10px 16px;
    justify-content: space-between;
    height: auto;
    transition: all 1sease-in-out;
    z-index: 3;
  }
  .iconHeader {
    min-width: 36px;
    min-height: 36px;
    border-radius: 4px;
    box-shadow: 0 0 3px 1.2px #0000000d;
    background-color: #f0f0f0a1;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topcoupon h3 {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .openCard {
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease;
    border: 1px solid var(--color_border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 0.55px solid #f1f1f1;
    background-color: #fff;
    margin-left: 10px;
  
    &.rotatearrow {
      border: 1px solid var(--bg-btn);
    }
    &.rotatearrow i {
      transform: rotate(180deg);
  
      color: var(--bg-btn) !important;
    }
  
    &.openCard:hover {
      border: 1px solid var(--bg-btn);
    }
  }
  
  .openCard i {
    font-size: 15px;
    color: var(--color_border);
  }
  .openCard:hover i {
    color: var(--bg-btn);
  }