<div class="home position-relative">
  <div class="leftHome">
    <h1 class="fade-slide-in">
      Welcome to the <span> Pickup LMS</span> <br>Learning Experience Builder
    </h1>

    <p class="fade-slide-in-delayed">
      "Let’s create a learning space that helps you deliver powerful content and grow your learners’ success."
    </p>

    <div class="listPostive fade-slide-in-delayed mt-5">
      <ul>
        <li *ngFor="let item of features; let i = index" [ngStyle]="{'animation-delay': (0.6 + i * 0.1) + 's'}" class="fade-slide-in">
          <span class="Icon"><i class="fa-solid fa-check"></i></span>
          <span class="text">{{ item }}</span>
        </li>
      </ul>
    </div>

    <div class="buttonCenter d-flex justify-content-center mt-5 fade-slide-in-delayed">
      <button class="shadow pickup-btn" routerLink="/login" > Start Learning 🚀</button>
    </div>
  </div>

  <div class="rightHome slide-in-right">
    <img src="Images/HomeImages.png" alt="homeInstructor" class="img-fluid" />
  </div>
</div>
