<div class="home position-relative ">
    <div class="leftHome">

        <h1>Welcome to the <span> Pickup LMS</span> <br>Learning Experience Builder</h1>

        <p>"Let’s create a learning space that helps you deliver powerful content and grow your learners’ success." </p>

        <div class="listPostive mt-5">
            <ul>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">Create and manage interactive courses easily</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">Build your own learning experience</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text"> Track learners’ progress with real-time analytics</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">Add quizzes, assignments, and certifications in minutes</span>
                </li>
          <li>
              <span class="Icon"><i class="fa-solid fa-check"></i></span>
              <span class="text">Engage in interactive and personalized learning content</span>
            </li>
            <li>
              <span class="Icon"><i class="fa-solid fa-check"></i></span>
              <span class="text">Track your learning progress and achievements</span>
            </li>
   
            <li>
              <span class="Icon"><i class="fa-solid fa-check"></i></span>
              <span class="text">Smart Task Management for Effective Learning</span>
            </li>
               
            </ul>


        </div>

         <div class="buttonCenter d-flex justify-content-center mt-5">
            <button class="shadow pickup-btn"> Start Learning 🚀</button>
         </div>

    </div>
    <div class="rightHome">
        <img src="Images/HomeImages.png" alt="homeInstructor" class="img-fluid" />
    </div>

 
</div>