<div class="login">

    <div class="cardForm">
        <div class="logo">
            <img src="Images/Logo.png" alt="">

        </div>
        <div class="stepOne"  *ngIf="currentStep === 1">
            <p class="title_logo text-center mt-3">We're sorry to hear that, but that's okay. !</p>
            <p class="title_logo_Pass text-center mt-3">A link to reset your password will be sent to your registered email address.</p>
      
            <form class="mt-4 p-3 py-0"  (ngSubmit)="sendForgetPassword()">
              <div class="position-relative mb-3">
                <input class="input-cal input-base inputFloating"   
               type="email"
                id="email"
                [formControl]="emailControl"
                [class.invalid]="emailControl.invalid && emailControl.touched">
                <label id="label-input">Email</label>
              </div>
      
              <button class="btn" type="submit" [disabled]="isLoading">Reset Password</button>
            </form>
      
            <div class="box-line mt-2">
              <span class="line"></span>
              <p class="lineText">Did you remember your password ?</p>
              <span class="line"></span>
            </div>
      
            <div class="footer-msg text-center">
              <p class="text-4">We’re happy to hear that,<span routerLink="/login" class="logintext"> log in </span></p>
            </div>
          </div>
          <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        <div class="stepTwo" *ngIf="currentStep === 2">
            <div class="textHeader d-flex flex-column gap-2 justify-content-center align-items-center">
                <img src="Images/Login/IconEmail.png" alt="">

            <p class="title_logo text-center mt-3">Verify Assignment Code </p>
            <p class="title_logo_Pass text-center mt-3">Enter the verification code we sent to <span class="logintext" >mo***&#64;gmail.com </span>Enter the 6-digit security code</p>


            </div>

  

        </div>







    </div>
    <div class="ImgLogin" *ngIf="currentStep === 1">
        <img src="Images/Login/resetPassword.png" alt="">
      </div>
      
      <div class="ImgLogin" *ngIf="currentStep === 2">
        <img src="Images/Login/otpPassword.png" alt="">
      </div>
      
      <div class="ImgLogin" *ngIf="currentStep === 3">
        <img src="Images/Login/ChangePassworf.png" alt="">
      </div>


</div>