.layout {
    display: flex;
    background-color: var(--bgHome);

  }
  

  app-sidebarfixed.collapsed {
    width: 70px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    margin-left: 110px;
  }
  
  .main-content.collapsed {
    margin-left: 70px;
  }
  
 
  