<div class="overlay"></div>
<div class="ShowPopup">
  <app-top-pop [NamePopup]="'Add Lesson'" 
              (isVisibleChange)="closePopup()" 
              [ColorIcon]="'#6625259C'" 
              [bgColor]="'#cc8b8b28'"
              [NameIcon]="'fa-solid fa-person-chalkboard'">
  </app-top-pop>

  <form [formGroup]="lessonForm" (ngSubmit)="createLesson()" class="createLesson">
    <div class="leftLesson">
      <div class="courseSelect">
        <app-text-header [title]="'Course'" [bgColor]="'#6625259C'"></app-text-header>

        <div *ngIf="!selectedCourse" class="selectcard mt-3 my-2" (click)="toggleDropdownCourse()">
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="text">
            <p>Click to Add Course</p>
          </div>
        </div>

        <div *ngIf="selectedCourse" class="mt-3">
          <div class="course-card px-2 py-1 position-relative">
            <div class="d-flex align-items-center gap-1">              <div class="images">
                <img class="rounded-circle" [src]="baseUrl + selectedCourse.photoUrl" height="30" width="30" alt="Course photo">
              </div>
              <div class="course-info">
                <h5 class="mb-1 fw-bold">{{selectedCourse.name | splicText:15}}</h5>
                <p class="date mb-0"><i class="fas fa-clock"></i> {{selectedCourse.createdOn | date}}</p>
              </div>
            </div>
            <button class="closeBtn position-absolute" (click)="removeCourse()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>

        <div *ngIf="showDropdownCourse" class="dropdown bg-white border rounded p-2 mt-2">
          <div *ngFor="let lead of paginationCoursesResponse.result"
            class="lead-item d-flex justify-content-between align-items-center p-2 border-bottom cursor-pointer"
            (click)="selectCourse(lead)">
            <div class="info_course d-flex gap-2 align-items-center">
              <img class="img-fluid rounded-circle" [src]="baseUrl + lead.photoUrl" width="30" height="30">
              <div class="info">
                <h5 class="name">{{ lead.name | splicText:13 }}</h5>
                <p class="price">{{ lead.price }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lessonInformation position-relative mt-2 courseSelect">
        <app-text-header [title]="'Lesson Data'" [bgColor]="'#40CDF4'"></app-text-header>
        <div class="lessonData my-2">
          <div class="lessonName my-2 d-flex flex-column gap-1">
            <label for="lessonName">Lesson Name</label>
            <input type="text" id="lessonName" formControlName="name" class="input_Couser" placeholder="Enter Lesson Name">
          </div>
          <div class="lessonDecription d-flex flex-column gap-1">
            <label for="lessonDescription">Lesson description</label>
            <textarea id="lessonDescription" formControlName="description" class="input_Couser textarea_course"
              placeholder="You can write lesson description here"></textarea>
          </div>

          <div class="photoUrl">
            <div class="image-upload">
              <div class="image-box" [style.backgroundImage]="imagePreview ? 'url(' + imagePreview + ')' : ''">
                <input type="file" accept="image/*" (change)="onFileSelected($event)" id="upload" hidden />
                <label for="upload" class="camera-icon">
                  <i class="fas fa-camera"></i>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="courseSelect mt-2 lessonCover">
        <app-text-header [title]="'Introduction Video'" [bgColor]="'#40CDF4'"></app-text-header>
        <div class="upload-container mt-2" *ngIf="!introVideoPreview">
          <label for="introVideo">
            <i class="fa-solid fa-video mx-2"></i>
            Upload lesson introduction video
          </label>
          <input type="file" id="introVideo" accept="video/*" (change)="onFileSelectedVideo($event)" hidden>
        </div>

        <div class="video-preview mt-3" *ngIf="introVideoPreview">
          <video controls class="w-100 rounded">
            <source [src]="introVideoPreview" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          <div class="d-flex justify-content-end mt-2">
            <div class="deleteIcon Icons" pTooltip="Remove Video" tooltipPosition="top" (click)="removeIntroVideo()">
              <i class="fa-regular fa-trash-can"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rightLesson w-50">
      <div class="CourseTags courseSelect">
        <div class="tags">
          <app-text-header [bgColor]="'#659DFFBF'" [Icon]="'fa-solid fa-exclamation'"
            [title]="'Lesson Tags'"></app-text-header>
          <div class="mt-3 tagsSelect">
            <div class="card btnScroll flex justify-center position-relative">
              <p-multiSelect [options]="tagsListResponse.result" formControlName="tags" scrollHeight="150px"
                optionLabel="name" placeholder="Select Tags" [maxSelectedLabels]="3" [filter]="false" appendTo="self"
                styleClass="w-full md:w-80 btnScrollInput">
                <ng-template pTemplate="footer">
                  <div class="container addTags d-flex justify-content-between align-content-center p-2">
                    <input type="text" #inputElement placeholder="Add new tag" (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()" (focus)="$event.stopPropagation()">
                    <div>
                      <a class="add-item" (click)="addTags(inputElement); $event.stopPropagation()">
                        <i class="fa-solid fa-plus mx-2"></i>
                      </a>
                    </div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
          </div>
        </div>
      </div>

      <div class="courseSelect mt-2">
        <app-text-header [title]="'Videos'" [bgColor]="'#F3C048A6'"></app-text-header>
        <div class="upload-container mt-2">
          <label for="lessonVideo">
            <i class="fa-solid fa-video mx-2"></i> Click to Add Video
          </label>
          <input type="file" id="lessonVideo" accept="video/*" (change)="onVideoUpload($event)" hidden>
        </div>

        <div class="mt-3 arrayVedios d-flex flex-column gap-2">
          <div *ngFor="let video of lessonVideos; let i = index" class="drag d-flex align-items-center gap-2">
            <div class="dragIcon">
              <span class="icon">
                  <span class="number">{{i + 1}}</span>
              </span>
            </div>
            <div class="informationVedio flex-grow-1 d-flex justify-content-between align-items-center">
              <div class="leftInfo">
                <div class="vedioName d-flex gap-2 align-items-center">
                  @if (editingVideoIndex !== i) {
                    <p class="mb-0 title">{{video.name | splicText:25}}</p>
                  } @else {
                    <div class="edit-name-container">
                      <input type="text" 
                             [(ngModel)]="editingVideoName" 
                             class="edit-video-name" 
                             (keyup.enter)="saveVideoName(i)"
                             (keyup.escape)="cancelEditingVideo()"
                             maxlength="40"
                             placeholder="Enter video name">
                    </div>
                  }
                </div>
              </div>
              <div class="rightInfo d-flex flex-row-reverse align-items-center gap-2">
                <div class="deleteIcon Icons" pTooltip="Delete Video" tooltipPosition="top" (click)="removeVideo(i)">
                  <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="editIcon Icons" pTooltip="Edit Video Name" tooltipPosition="top" 
                     *ngIf="editingVideoIndex !== i" (click)="startEditingVideo(i, video.name)">
                  <i class="fa-regular fa-pen-to-square"></i>
                </div>
                <ng-container *ngIf="editingVideoIndex === i">
                  <div class="saveIcon Icons" pTooltip="Save" tooltipPosition="top" (click)="saveVideoName(i)">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <div class="cancelIcon Icons" pTooltip="Cancel" tooltipPosition="top" (click)="cancelEditingVideo()">
                    <i class="fa-solid fa-times"></i>
                  </div>
                </ng-container>
                <div class="lockIcon Icons" pTooltip="Make Private Video" tooltipPosition="top">
                  <i [class]="video.free ? 'fa-solid fa-lock-open' : 'fa-solid fa-lock'"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="courseSelect mt-2">
        <div class="uploaDfile">
          <label class="upload-box" for="fileInput">
            <i class="fa-solid fa-paperclip mx-1"></i> Upload Lesson References
          </label>
          <input type="file" multiple accept=".pdf, .doc, .docx, .xls, .xlsx, .txt, .pptx, .ppt, .csv" 
                 id="fileInput" (change)="onLessonFilesUpload($event)" hidden>
          <div class="file-list">
            <div *ngFor="let file of uploadedFiles; let i = index" class="file-item">
              <div class="file-info">
                <div class="pdfIcons">
                  <i class="fa-file-lines fa-solid"></i>
                </div>
                <span class="file-name" [pTooltip]="file.name" tooltipPosition="top">
                  {{ file.name | splicText:15 }}
                </span>
              </div>
              <div class="file-actions">
                <div class="delete-icon" (click)="removeFile(i, file.url)" pTooltip="Delete" tooltipPosition="top">
                  <i class="fa-regular fa-trash-can"></i>
                </div>
              </div>
              <div class="file-size">{{file.size}} KB</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="footerCourse bg-white rounded-1">
    <div class="btnsCourse">
      <button type="submit"  (click)="createLesson()">
        <span>Create</span>
      </button>
    </div>
  </div>
</div>