.haeader-Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    z-index: 555555;
    border-radius: 8px;

}
.nav-Left {
    display: flex;
    align-items: center;
    gap: 20px;

}
.nav-Left i{
 
    color: #C6D1DC;
}
.nav-Left .user-Porfile img{
    border: 1px solid var(--bg-btn);
    cursor: pointer !important;;

}
.nav-Left .user-Porfile p{

    margin: 0;
}

.offcanvas{
    width: 300px;
}