<div class="fixedHeader">
    <div class="haeader-Nav   px-4 ps-2  p-1 ">
        <div class="logo" routerLink="/homeInstructor">
            <img src="Images/Logo.png" alt="" height="40">
        </div>
    
        <div class="nav-Left">
            <div class="icons">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <div class="icons">
                <i class="fa-solid fa-bell"></i>    
            </div>
    
            <div class="user-Porfile" >
    
                <img src="Images/user.jpg" alt="" width="30" class=" rounded-circle border-1">
              
            </div>
    
    
        </div>
        
    </div>
    
</div>



