<div class="cardCourseList mt-3">
      <div class="header">
    <h2>Enroll Courses</h2>
    <a class="view-all" >View All →</a>
  </div>
  <!-- Courses Grid -->
  <div class="courses-grid">
    <div class="course-card" *ngFor="let course of courses">
      <div class="course-image">
        <img
          [src]="course.image"
          [alt]="course.title"
          onerror="this.src='Images/Course/Image+Background.png'"
        />

        <div class="category-badge">{{ course.category }}</div>
      </div>

      <div class="course-content">
        <h3 class="course-title">{{ course.title }}</h3>
        <p class="course-instructor">
          <i class="fa-solid fa-user-tie"></i>
          {{ course.instructor }}
        </p>
        <p class="course-description">{{ course.description }}</p>

        <div class="course-stats">
          <div class="stat">
            <i class="fa-solid fa-play-circle"></i>
            <span
              >{{
                course.totalLessons 
              }}
              lessons</span
            >
          </div>
          <div class="stat">
            <i class="fa-solid fa-clock"></i>
            <span>{{ course.duration }}</span>
          </div>
          <div class="stat">
            <i class="fa-solid fa-star"></i>
            <span>{{ course.rating }}</span>
          </div>
        </div>



        <div class="course-actions">
          <button
            class="btn-continue"
          >
            <i class="fa-solid fa-play"></i>
          Enroll Now          </button>
          <button class="btn-menu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>