<div class="topics mt-3">
    <div class="Board">

        <div class="header">
            <div class="text">
                <div class="head">
                    <div class="icon"><i class="fa-solid fa-dollar-sign"></i></div>
                    <div class="name">  {{ "Board.Board" | translate }}</div>
                </div>
                <div class="description">
                    <p> {{ "Board.Description" | translate }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="Boardstages">
        <app-all-topic></app-all-topic>
   


    </div>
 </div>
