<div class="topics mt-3">
    <div class="Board">

        <div class="header">
            <div class="text">
                <div class="head">
                    <div class="icon"><i class="fa-solid fa-dollar-sign"></i></div>
                    <div class="name">  {{ "Board.Board" | translate }}</div>
                </div>
                <div class="description">
                    <p> {{ "Board.Description" | translate }}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="searchBoard">
        <div class="search-input">
            <input type="text" [placeholder]="'Board.SearchPlaceholder' | translate">
            <div class="icon"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1143_70294)">
                        <path
                            d="M10.4167 17.5C6.04445 17.5 2.50004 13.9556 2.50004 9.58332C2.50004 5.21107 6.04445 1.66666 10.4167 1.66666C14.789 1.66666 18.3334 5.21107 18.3334 9.58332C18.3334 13.9556 14.789 17.5 10.4167 17.5Z"
                            stroke="#8E92BC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.66671 18.3333L3.33337 16.6667" stroke="#8E92BC" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_1143_70294">
                            <rect width="20" height="20" fill="white" transform="matrix(-1 0 0 1 20 0)"></rect>
                        </clipPath>
                    </defs>
                </svg></div>
        </div>
        <button  (click)="openPopup()">
            <div class="icon" >
                <i class="fa-solid fa-plus"></i>

            </div>
            <span>{{ "Board.NewTopic" | translate }}</span>
        </button>
    </div>


    <div class="Boardstages">
        <app-all-topic></app-all-topic>
   


    </div>
 </div>
