<div class="home position-relative ">
    <div class="leftHome">

        <h1>{{"Home.welcomeMessage" | translate }} <span>{{"Home.Logo" | translate }} </span> <br>{{"Home.subTitle" | translate }}</h1>

        <p>"{{"Home.quote" | translate }}" </p>

        <div class="listPostive mt-5">
            <ul>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{"Home.feature1" | translate }}</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{"Home.feature2" | translate }}</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text"> {{"Home.feature3" | translate }}</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{"Home.feature4" | translate }}</span>
                </li>
               
            </ul>


        </div>

         <div class="buttonCenter d-flex justify-content-center mt-5">
            <button class="shadow pickup-btn"> {{"Home.startButton" | translate }}</button>
         </div>

    </div>
    <div class="rightHome">
        <img src="Images/HomeImages.png" alt="homeInstructor" class="img-fluid" />
    </div>

 
</div>