<div class="overlay" *ngIf="isAddPopupVisible"></div>
<div class="ShowPopup" [class.showelement]="isAddPopupVisible">
  <div class="add-Course">
    <app-top-pop [NamePopup]="'Add Course'" (isVisibleChange)="handleCancel()"></app-top-pop>
    <form class="bodyCourse" [formGroup]="courseForm">
      <div class="leftCourse">
        <div class="couseContentAdd">
          <div class="titleCouser">
            <app-text-header [title]="'Main course informations'"></app-text-header>

            <div class="addData_course my-4">
              <div class="courseDynamic d-flex gap-3 align-items-end mb-2">
                <div class="Course_name">
                  <label for="Course_name">Course name</label>
                  <input formControlName="courseName" type="text" class="input_Couser" id="Course_name" placeholder="Enter course name">
                </div>
                <div class="deal-desc-btn" [class.active]="showDescription"
                  [pTooltip]=" !showDescription ? 'Add Description' : 'Hide Description'" tooltipPosition="top"
                  (click)="ShowDescription()">
                  <i class="fa-kit fa-subtitles"></i>
                </div>
              </div>

              <div class="desCourse_name Course_name" [class.active]="showDescription">
                <label for="Course_description">Course description</label>
                <textarea formControlName="courseDescription" class="input_Couser textarea_course" id="Course_description"></textarea>
              </div>
            </div>
          </div>

          <div class="Course_Price d-flex gap-3 align-items-start">
            <div class="leftCoursePirce">
              <div class="couresAccess">
                <div class="titleAccess d-flex justify-content-between gap-2 align-items-center">
                  <p>Course Access</p>
                  <div class="Icon">
                    <i class="fa-solid fa-exclamation"></i>
                  </div>
                </div>
                <app-custom-select formControlName="courseAccess" [options]="['Paid', 'Free']"
                  [selectedValue]="'Paid'" (valueChange)="onSelectChange($event)">
                </app-custom-select>
              </div>
            </div>
            <div class="rightCoursePirce flex-grow-1">
              <div class="Course_name d-flex flex-column">
                <p class="mb-2">Course price</p>
                <div class="input_Couser_container flex-grow-1">
                  <input formControlName="coursePrice" type="number" maxlength="200" placeholder="Enter course price">
                  <span>EGP</span>
                </div>
              </div>
            </div>
          </div>

          <div class="courseStage mt-3 d-flex gap-3 align-items-start">
            <div class="leftCoursePirce w-50">
              <div class="couresAccess w-100">
                <div class="titleAccess d-flex justify-content-between gap-2 align-items-center">
                  <p>Topic </p>
         
                </div>
                <app-custom-select formControlName="topic" [isTopic]="true"  [selectedValue]="'sss'" [options]="['sss','dddd', 'JS']" 
                (valueChange)="onSelectChange($event)">
              </app-custom-select>
              </div>
            </div>
            <div class="right w-50">
              <div class="titleAccess d-flex justify-content-between gap-2 align-items-center">
                <p>Stage</p>
              </div>
              <app-custom-select formControlName="stage"  [iStage]="true" [selectedValue]="'sdsad'" [options]="['sdsad','sdsad', 'sdsad']" 
              (valueChange)="onSelectChange($event)">
            </app-custom-select>
            </div>
          </div>

          <div class="couserLanguage mt-3">
            <div class="Language w-50">
              <div class="titleAccess d-flex justify-content-between gap-2 align-items-center">
                <p>Course language</p>
              </div>
              <app-custom-select formControlName="courseLanguage" [options]="['En', 'Ar']" 
                [selectedValue]="'En'" (valueChange)="onSelectChange($event)">
              </app-custom-select>
            </div>
          </div>
        </div>

        <div class="couseContentAdd Discount">
          <div class="d-flex justify-content-between align-items-center Discount">

            <app-text-header [bgColor]="'#FF6584BF'" [title]="'Discount'"></app-text-header>

                <div class="d-flex gap-2 checkedCard">
                  <label class="containerCheck">
                      <input  type="checkbox" id="invalidCheck" (change)="isChecked = !isChecked">
                      <div class="checkmark">
                          
                      </div>
                  </label>
              </div>
          </div>
          

          <div class="coursecustom  d-flex gap-3 align-items-start" [class.show]="isChecked" >
            <div class="leftStage w-50">
              <div class="titleAccess d-flex justify-content-between gap-2 align-items-center">
                <p>Type</p>
              </div>
              <div class="custom-select">
                <select formControlName="discountType" (change)="onDiscountTypeChange($event)">
                  <option value="1">Percentage</option>
                  <option value="0">Value</option>
                </select>
              </div>
            </div>
            <div class="right w-50">
              <div class="rightCoursePirce flex-grow-1">
                <div class="Course_name d-flex flex-column">
                  <p class="mb-2">Value</p>
                  <div class="input_Couser_container flex-grow-1">
                    <input formControlName="discountValue"    type="number" placeholder="Enter course Value">
                    <span>{{discountSymbol }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rightCourse">
        <div class="UploadCover">
          <div class="inputImage" *ngIf="!selectedImageUrl" (click)="triggerFileInput('image')">
            <i class="fa-solid fa-images mx-2"></i>
            <p>{{ selectedImageName || 'Upload course photo' }}</p>
          </div>
          <input type="file" accept="image/*" #ImageInput class="hidenInput" (change)="onFileSelected($event, 'image')">
          <div *ngIf="selectedImageUrl" class="image-preview-container">
            <img [src]="selectedImageUrl" alt="Selected Image" class="preview-image w-100 rounded-1">
            <button class="delete-btn_image" (click)="removeImage()"> 
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </div>

        <div class="UploadCover mt-2">
          <div class="inputImage" *ngIf="!selectedVideoUrl" (click)="triggerFileInput('video')">
            <i class="fa-solid fa-video mx-2"></i>
            <p>{{ selectedVideoName || 'Upload course introduction video' }}</p>
          </div>
          <input type="file" accept="video/*" #VideoInput class="hidenInput" (change)="onFileSelected($event, 'video')">
          <div *ngIf="selectedVideoUrl" class="image-preview-container">
            <video [src]="selectedVideoUrl" autoplay controls muted class="preview-video w-100 h-50 rounded-1"></video>
            <button class="delete-btn_image" (click)="removeVideo()"> 
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </div>

        <div class="UploadCover mt-2">
          <div class="upload-container">
            <label class="upload-box" (click)="triggerFileInput('file')">
              <i class="fa-solid fa-paperclip mx-1"></i> Add File
            </label>
            <input type="file" multiple accept=".pdf, .doc, .docx, .xls, .xlsx, .txt" #fileInput 
              class="hidden-input" (change)="onFileSelectedFile($event)">
            <div class="file-list" *ngIf="selectedFiles.length > 0">
              <div class="file-item" *ngFor="let file of selectedFiles; let i = index">
                <i class="fa-solid fa-file"></i>
                <span class="file-name">{{ file.name | splicText }}</span>
                <span class="file-size">{{ getFileSize(file.size) }}</span>
                <a [href]="getFileUrl(file)" download class="download-btn">
                  <i class="fa-solid fa-download"></i>
                </a>
                <button class="delete-btn" (click)="removeFile(i)">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="CourseTags UploadCover mt-2">
          <div class="tags">
            <app-text-header   [bgColor]="'#659DFFBF'"
              [Icon]="'fa-solid fa-exclamation'" [title]="'Course Tags'"></app-text-header>
            <div class="mt-3 tagsSelect">
              <nz-select
              nzMode="multiple"
              [nzDropdownRender]="renderTemplate"
              [nzMaxTagCount]="1"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              [nzDropdownMatchSelectWidth]="false"
              nzPlaceHolder="Course tags"
              
            >
            @for (item of listOfTags; track item) {
              <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>

            }
            
            
            </nz-select>
            
            <!-- Placeholder when many tags are selected -->
            <ng-template #tagPlaceHolder let-selectedList>
              and {{ selectedList.length }} more selected
            </ng-template>
            
            <ng-template #renderTemplate>
              <div class="container addTags d-flex justify-content-between align-content-center p-2">
                <input type="text" #inputElement />
                <div class="">
                  <a class="add-item" (click)="addTags(inputElement)">
                    <i class="fa-solid fa-plus mx-2"></i>
                  </a>
                </div>
         
              </div>
            </ng-template>
            
            </div>
          </div>
        </div>

        <div class="CourseTags UploadCover mt-2">
          <div class="tags custom-fields-container">
            <app-text-header  [bgColor]="'#659DFFBF'"
              [Icon]="'fa-solid fa-exclamation'" [title]="'Course custom Fields'"></app-text-header>
        
            <div class="input-row mt-4">
    
      
            <input list="keyOptionsList"
            type="text" placeholder="Key" size="5" [(ngModel)]="newField.key" [ngModelOptions]="{ standalone: true }">

            <datalist id="keyOptionsList">
              <option *ngFor="let key of keyOptions" [value]="key" ></option>
            </datalist>       
            
            <input type="text" placeholder="Value" [(ngModel)]="newField.value" [ngModelOptions]="{ standalone: true }">
              <button (click)="addField()" class="add-btn" pTooltip="Add Fields" tooltipPosition="top">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
        
         
          </div>
        </div>

        <div class="CourseTags UploadCover mt-2" *ngIf="customFields.length > 0" >
          <div class="tags custom-fields-container">
            <app-text-header pTooltip="Add Fields" tooltipPosition="top" [bgColor]="'#659DFFBF'"
              [Icon]="'fa-solid fa-exclamation'" [title]="'Course custom Fields'"></app-text-header>
        
            <div class="fields-list mt-2" [ngClass]="{ 'active': customFields.length > 0 }">
              <div *ngFor="let field of customFields; let i = index" class="field-item">
                <input type="text" [value]="field.key"  readonly class="field-key" placeholder="Key">
                <input type="text" [value]="field.value" readonly  class="field-value" placeholder="Value">
                <label class="containerCheck">
                  <input  type="checkbox" id="invalidCheck" >
                  <div class="checkmark">
                      
                  </div>
              </label>          
                <button (click)="removeField(i)" class="delete-btn" pTooltip="Delete Fields" tooltipPosition="top">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="footerCourse bg-white rounded-1">
      <div class="btnsCourse" (click)="onSubmit()">
        <button class="">Create</button>
      </div>
    </div>
  </div>
</div>