.Board,
.boxOpreation {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
}
.topic{
  position: relative;
}
.Board{
  padding-bottom: 5px;

}
.Board p {
  padding: 5px;
  position: relative;
  margin: 0;
}

.Board p::before {
  content: "";

  position: absolute;
  height: 20px;
  left: -2px;
  width: 3px;
  height: 20px;
  background: var(--color_border);
  border-radius: 2px;
}
.iconTopic .left{
  position: relative;
}
.iconTopic .left::before{
  content: "";
  position: absolute;
  height: 4px;
  bottom: -5px;
  width: 100%;
  background: var(--green1);
  border-radius: 2px;
}

.iconTopic .left i  , .iconTopic .left span{
  color: var(--green1);
  font-size: 20px;
}
.iconTopic .right i{
  font-size: 20px;
  color: var(--color_border);

}

// End Top Topic
.search {
  width: 350px;

}

.search input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  width: 100%;
  outline: none;
}


.boxOpreation_btn i{
  color: var(--white);
  font-size: 20px;
  cursor: pointer;

}
.boxOpreation_btn .btn_add {
  background-color: var(--green1);
  border: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;

}





.DragDiv {
  padding: 20px 0px   ;
  padding-left: 10px;
  border-radius: 10px;
  position: relative;

  background-color: var(--white);
  cursor: pointer;
}

.headerDrag {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer !important;


}

.headerDrag p {
  padding: 2px 8px;
  border-radius: 3px;
  font-family: Itim;
  background-color: var(--color_border);
}

.headerDrag h3 {
  font-family: Itim;
  cursor: pointer;


}
.headerDrag .inputEdit{
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  outline: none;
}

.headerDrag .Icon {
  cursor: grab !important;
  padding: 8px;



}

.rightDarg .btn_default{
 padding: 3px 10px;
  border-radius: 8px ;
  background-color: #7EDA82;
  color: var(--white);
  font-size: 13px;
  font-weight: Item;
}
.rightDarg .btn_default:disabled{
  background-color: #83AAD0;
  

}
.Icon i {
  cursor: grab;
  opacity: .5;
}

.headerDrag .Icon:hover i {
  cursor: grab !important;
  opacity: 1 !important;

}


.headerDrag:hover {
  cursor: grab;
}

.headerDrag:focus {
  cursor: grab;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  cursor: grab;

}

.cdk-drag-preview:focus,
.cdk-drag-preview:hover {
  cursor: grab;

}

.cdk-drag-placeholder {
  opacity: 0;
  cursor: grab;

}

.cdk-drag-animating {
  transition: transform .8ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 10px;
  cursor: grab;


}



.Dargs.cdk-drop-list-dragging .headerDrag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}










.drag_Horizontal {

  display: flex;
  flex-grow: 2;
  gap: 50px;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  padding: 30px;
  border: none;
  cursor: grab;
}

.drag_Horizontal_box {
  width: 200px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #f5cd6d40;
  box-shadow: 0px 0px 1px 1px rgba(245, 205, 109, 0.25);
  position: relative;
  z-index: 444;
}

.dot_right {
  content: "";
  position: absolute;
  padding: 3px;

  background-color: #f5cc6ddf;
  border-radius: 4px;
  top: 50%;
  left: -2px;
  transform: translate(-50%);


}

.dot_left {
  position: absolute;
  padding: 3px;

  background-color: #f5cc6ddf;
  border-radius: 4px;
  top: 50%;
  right: -5px;
  transform: translate(-50%);


}

.connector {
  width: 50px;
  height: 2px;
  background-color: #ddd;
  position: relative;
  width: 50px;
  height: 2x;
  background-color: #ddd;
  position: absolute;
  top: 52%;
  right: -51px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(245, 205, 109, 0.25);
  box-shadow: 0px 0px 1px 1px rgba(245, 205, 109, 0.25);
  overflow: hidden;
  cursor: grab;

}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform .5s ease-in-out ;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform .5s ease-in-out ;
}

.stages {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.stages h5 {
  font-family: Itim;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  color: #79877E;
  margin-bottom: 0;

}

.stages p {
  font-family: Itim;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #79877E;
  margin: 0;
  text-align: end;

}



// Model

::ng-deep .ant-modal-content{
  border-radius: 15px !important;
  overflow: hidden !important;
  height:290px !important; 

}

::ng-deep .ant-modal-close-x{
  display: none !important;
}
::ng-deep .ant-modal-footer{
  display: none !important;
}

.content-model img{
  width: 200px;

  
}

.cardTabs{
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px !important;
  background-color: var(--white);
  box-shadow: 0px 3px 24px rgba(50, 56, 51, 0.36);
  position: absolute;
  top: 80px;
  width: 250px;
  opacity: 1;
  transition: 0.2s opacity ease-in;
  visibility: visible;
  z-index: 5888;


  
}

.Dargs .cardTabs{
  top: 60px;
  left: 40px;
}
.cardTabs.showTabs{
  opacity: 0;
  visibility: hidden;

}
.viewTopic .line{
  width: 2px;
  height: 90%;
  background-color: var(--color_border);
  position: absolute;
  left: 52%;
  top: 41px;
}
.viewTopic{
  position: absolute;
  top: 0%;
  left: 200px;
  z-index: 588888888888888900000000000000000000000000;
  width: 1000px;
  height: 500px;
  background-color: var(--white) !important;
  border: 0.5px solid #E1E1E1;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .5s opacity ease-in-out;
  
}
.viewTopic.showelement{
  opacity: 2;
  visibility: visible;
}
.viewTopic .icontopic{
  background-color: var(--color_border);
  padding: 5px 8px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: .8s  background-color ease-in-out ,.8s  color ease-in-out ;

}
.viewTopic h3{
  font-family: Itim;
  font-size: 22px;
  font-weight: 400;
  line-height: 9.6px;

}
.viewTopic .icontopic:hover{
  background-color:#FD00001A;

  padding: 5px 8px;
  border-radius: 4px;
  color: #FD000080;

  cursor: pointer;
  transition: .8s  background-color ease-in-out ,.8s  color ease-in-out ;

}


.Description{
   padding: 10px;
   border: 1px solid  #D7D7D74D;
   margin-top: 20px;
   border-radius: 10px;

}
.Description p{
  font-family: Itim;
  font-size: 10px;
  font-weight: 400;
  color: #959494;




}









.aboutInstructor {
  
  font-family: Itim;
  font-size: 14px;
  line-height: 1.6;
  color: #C6D1DC;
}

.aboutInstructor p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.aboutInstructor span{
  color: black;
}
.aboutInstructor i {
  color: #C6D1DC;
}
.addStages{
  border-radius: 10px;
  border: 1px solid #D7D7D74D;
  padding: 12px 18px ;

  box-shadow: 0px 0px 2px 1px #3e3d3c20;


}
.addStages p{
  font-family: Itim;
  font-size: 17px;
  line-height: 1.6;
  color: #C6D1DC;
  margin: 0;
}
.addStages .icontopic{
  padding: 2px 7px !important;
}
.Stages{

  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px #88FF6121;

  border: 1px solid #D7D7D74D;
}


.Stages .stage{

  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px #88FF6121;

  border: 1px solid #D7D7D74D;
}