<div class="topic p-2 mt-3">
 <!-- Start Top Topic  -->
  <div class="Board ">
    <h3>Board</h3>
    <div class="d-flex justify-content-between align-items-center">
      <p>In this comprehensive course, we will take you on an...</p>

      <div class="iconTopic d-flex align-items-center  gap-4">
        <div class="left d-flex  align-items-center  gap-1">
          <i class="fa-solid fa-table-list"></i>
          <span>Table</span>
        </div>

        <div class="right">
          <i class="fa-solid fa-circle-chevron-down"></i>
        
        </div>

     
      </div>

    
    </div>

  </div>
  <!-- End  Top Topic -->


  <!-- Box Add Search -->
  <div class="boxOpreation  mt-3 d-flex justify-content-between align-items-center">

    <div class="search">
      <input type="search" name="" id="" placeholder="Search">
    </div>

    <div class="boxOpreation_btn">
      <button class="btn_add rounded-2"  (click)="showModal()"> 
        <i class="fa-solid fa-square-plus mx-2 fs-4"></i> 
        <span>New</span>

      
      </button>
    </div>



  </div>

  <!-- Box Add Search -->

  <div cdkDropList class="Dargs mt-3" (cdkDropListDropped)="drop($event)">
    @for (movie of movies; track movie) {
    <div class="DragDiv mb-3" cdkDrag>
      <div class="headerDrag d-flex gap-3">
        <div class="Icon">
          <i class="fa-solid fa-grip-vertical fs-5"></i>
        </div>

        <p class="m-0"   (click)="showTabTopic(movie)" ><i [class]="currentIcon" aria-hidden="true"></i>   </p>
           <div class="cardTabs " [class.showTabs]="!movie.isTabOpen">
          <nz-tabset>
            <nz-tab nzTitle="Color">
              <div class="Colors pb-2 d-flex  justify-content-center gap-4 flex-wrap" >
              @for( color of colors; track $index) {
                <div
                class="colorBox p-3 rounded-5"
                [ngClass]="color"
                (click)="selectBg(color)"

              ></div>
              }
            </div>
            </nz-tab>
            <nz-tab nzTitle="Icon">
              <div class="Colors pb-2 d-flex justify-content-center gap-4 flex-wrap" >
                   @for (Icon of icons; track $index) {
                    <div class="colorBox p-2 rounded-1 bg-light "
                         (click)="selectIcon(Icon.icon)"
                    >
                      <i [class]="Icon.icon" aria-hidden="true"></i>

                    </div>
            
                     
                   }
              </div>
            </nz-tab>
          </nz-tabset>

        </div>
        <h3 class="m-0" *ngIf="!movie.isEditing" (click)="startEditing(movie)">
          {{ movie.textValue }}
        </h3>

        <input
          *ngIf="movie.isEditing"
          class="inputEdit"
          type="text"
          [(ngModel)]="movie.textValue"
          (blur)="saveValue(movie, movie.textValue)"
          (keyup.enter)="saveValue(movie, movie.textValue)"
          autofocus
        />

      </div>

      <div cdkDropList cdkDropListOrientation="horizontal" class="drag_Horizontal my-3"
        (cdkDropListDropped)="dropWitht($event)">
        @for (timePeriod of timePeriods; track timePeriod) {
        <div class="drag_Horizontal_box p-3" cdkDrag [style.border-color]="timePeriod.border"
          [style.box-shadow]="timePeriod.border">
          <div class="stages ">
            <div class="stagesheader d-flex  gap-3  align-items-center">
              <svg width="15" height="15" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.8">
                  <path
                    d="M11 3.5L7.31 7.1675C6.8115 7.663 6.562 7.911 6.2525 7.911C5.943 7.911 5.694 7.663 5.195 7.167L5.075 7.048C4.5765 6.552 4.3265 6.3035 4.017 6.3035C3.7075 6.3035 3.458 6.552 2.9595 7.0485L1 9M11 3.5V6.273M11 3.5H8.209"
                    [attr.stroke]="timePeriod.color" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
              </svg>
              <h5>{{timePeriod.name}} </h5>
            </div>

            <p>{{timePeriod.price}} $</p>


          </div>
          @if ( !$first) {
          <span class="dot_right" [style.background-color]="timePeriod.color"></span>

          }
          @if ( !$last) {
          <div class="connector"></div>

          }

          @if ( !$last) {
          <span class="dot_left" [style.background-color]="timePeriod.color"></span>


          }

        </div>
        }
      </div>




    </div>
    }
  </div>






</div>




<!-- Model -->



<nz-modal  nzCentered [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
 <div class="ModelTopic" *nzModalContent>
  <div class="content-model d-flex justify-content-between pt-3"   >


    <div class="leftContant" >
      <div class="nameContact d-flex  gap-2 align-items-center" >
        <div class="Tasbs  colorBox p-2 rounded-1 "
        [ngClass]="colorDefault"

         (click)="showTab()" >
          <i [class]="currentIcon" aria-hidden="true"></i>
        </div>
 

        <div class="cardTabs " [class.showTabs]="!ishowTab">
          <nz-tabset>
            <nz-tab nzTitle="Color">
              <div class="Colors pb-2 d-flex  justify-content-center gap-4 flex-wrap" >
              @for( color of colors; track $index) {
                <div
                class="colorBox p-3 rounded-5"
                [ngClass]="color"
                (click)="selectBg(color)"

              ></div>
              }
            </div>
            </nz-tab>
            <nz-tab nzTitle="Icon">
              <div class="Colors pb-2 d-flex justify-content-center gap-4 flex-wrap" >
                   @for (Icon of icons; track $index) {
                    <div class="colorBox p-2 rounded-1 bg-light "
                         (click)="selectIcon(Icon.icon)"
                    >
                      <i [class]="Icon.icon" aria-hidden="true"></i>

                    </div>
            
                     
                   }
              </div>
            </nz-tab>
          </nz-tabset>

        </div>
  

        <div class="inputName ">
          <input type="text" placeholder="Name Topic">
        </div>

      </div>


       <div class="description my-2">

        <textarea name="" id=""  placeholder="Description " ></textarea>

       </div>

       <div class="chooseTopic d-flex gap-3 justify-content-between align-items-center">

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>


        </nz-select>

        <div class="d-flex gap-2 checkedCard ">
          <label class="labelChecked " for="invalidCheck">Main  </label>

          <label class="containerCheck">
              <input  type="checkbox" id="invalidCheck">
              <div class="checkmark"></div>
          </label> 
      </div>




       </div>

    </div>
    <div class="rightContant ">
      <img src="Images/imageModel.png" alt="">

    </div>




  </div>



  <div class="footerModel d-flex justify-content-end align-items-end mt-3">
    <div class="btns ">
      <button class="btn_preview rounded-2"     (click)="handleCancel()">Next</button>
    </div>
  
  </div>

</div>



</nz-modal>