.Board,
.boxOpreation {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
}
.Board{
  padding-bottom: 5px;

}
.Board p {
  padding: 5px;
  position: relative;
  margin: 0;
}

.Board p::before {
  content: "";

  position: absolute;
  height: 20px;
  left: -2px;
  width: 3px;
  height: 20px;
  background: var(--color_border);
  border-radius: 2px;
}
.iconTopic .left{
  position: relative;
}
.iconTopic .left::before{
  content: "";
  position: absolute;
  height: 4px;
  bottom: -5px;
  width: 100%;
  background: var(--green1);
  border-radius: 2px;
}

.iconTopic .left i  , .iconTopic .left span{
  color: var(--green1);
  font-size: 20px;
}
.iconTopic .right i{
  font-size: 20px;
  color: var(--color_border);

}

// End Top Topic
.search {
  width: 350px;

}

.search input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  width: 100%;
  outline: none;
}


.boxOpreation_btn i{
  color: var(--white);
  font-size: 20px;
  cursor: pointer;

}
.boxOpreation_btn .btn_add {
  background-color: var(--green1);
  border: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;

}





.DragDiv {
  padding: 20px 0px   ;
  padding-left: 10px;
  border-radius: 10px;
  position: relative;

  background-color: var(--white);
  cursor: pointer;
}

.headerDrag {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer !important;


}

.headerDrag p {
  padding: 2px 8px;
  border-radius: 3px;
  font-family: Itim;
  background-color: var(--color_border);
}

.headerDrag h3 {
  font-family: Itim;
  cursor: pointer;


}
.headerDrag .inputEdit{
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  outline: none;
}

.headerDrag .Icon {
  cursor: grab !important;
  padding: 8px;



}

.rightDarg .btn_default{
 padding: 3px 10px;
  border-radius: 8px ;
  background-color: #7EDA82;
  color: var(--white);
  font-size: 13px;
  font-weight: Item;
}
.rightDarg .btn_default:disabled{
  background-color: #83AAD0;
  

}
.Icon i {
  cursor: grab;
  opacity: .5;
}

.headerDrag .Icon:hover i {
  cursor: grab !important;
  opacity: 1 !important;

}


.headerDrag:hover {
  cursor: grab;
}

.headerDrag:focus {
  cursor: grab;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  cursor: grab;

}

.cdk-drag-preview:focus,
.cdk-drag-preview:hover {
  cursor: grab;

}

.cdk-drag-placeholder {
  opacity: 0;
  cursor: grab;

}

.cdk-drag-animating {
  transition: transform .8ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 10px;
  cursor: grab;


}



.Dargs.cdk-drop-list-dragging .headerDrag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}










.drag_Horizontal {

  display: flex;
  flex-grow: 2;
  gap: 50px;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  padding: 30px;
  border: none;
  cursor: grab;
}

.drag_Horizontal_box {
  width: 200px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #f5cd6d40;
  box-shadow: 0px 0px 1px 1px rgba(245, 205, 109, 0.25);
  position: relative;
  z-index: 444;


}

.dot_right {
  content: "";
  position: absolute;
  padding: 3px;

  background-color: #f5cc6ddf;
  border-radius: 4px;
  top: 50%;
  left: -2px;
  transform: translate(-50%);


}

.dot_left {
  position: absolute;
  padding: 3px;

  background-color: #f5cc6ddf;
  border-radius: 4px;
  top: 50%;
  right: -5px;
  transform: translate(-50%);


}

.connector {
  width: 50px;
  height: 2px;
  background-color: #ddd;
  position: relative;
  width: 50px;
  height: 2x;
  background-color: #ddd;
  position: absolute;
  top: 52%;
  right: -51px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(245, 205, 109, 0.25);
  box-shadow: 0px 0px 1px 1px rgba(245, 205, 109, 0.25);
  overflow: hidden;
  cursor: grab;

}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform .5s ease-in-out ;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform .5s ease-in-out ;
}

.stages {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.stages h5 {
  font-family: Itim;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  color: #79877E;
  margin-bottom: 0;

}

.stages p {
  font-family: Itim;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #79877E;
  margin: 0;
  text-align: end;

}



// Model

::ng-deep .ant-modal-content{
  border-radius: 15px !important;
  overflow: hidden !important;
  height:290px !important; 

}

::ng-deep .ant-modal-close-x{
  display: none !important;
}
::ng-deep .ant-modal-footer{
  display: none !important;
}

.content-model img{
  width: 200px;

  
}

.cardTabs{
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px !important;
  background-color: var(--white);
  box-shadow: 0px 3px 24px rgba(50, 56, 51, 0.36);
  position: absolute;
  top: 80px;
  width: 250px;
  opacity: 1;
  transition: 0.2s opacity ease-in;
  visibility: visible;
  z-index: 5888;


  
}

.Dargs .cardTabs{
  top: 60px;
  left: 40px;
}
.cardTabs.showTabs{
  opacity: 0;
  visibility: hidden;

}



// Tabs
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--green2) !important;
  transition: 0.5s color ease-in;
  overflow: hidden;



}
::ng-deep .ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
  color: var(--green2) !important;
}
::ng-deep  .ant-tabs-tab-btn:hover{
  color: var(--green2) !important;
  transition: 0.5s color ease-in;
  overflow: hidden;


}
::ng-deep .ant-tabs-ink-bar {
  position: absolute;
  background: var(--green2) !important;
  pointer-events: none;
  transition: 0.5s color ease-in;
  overflow: hidden;

}

.colorBox{
  cursor: pointer;
}


.inputName input{
  outline: none;
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
}


.description textarea {
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  outline: none;
  resize:none;
  height: 80px;
}




nz-select {
  width: 120px;
}
::ng-deep  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--green2) !important;
}

::ng-deep  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--green2) !important;
  box-shadow: 0 0 0 2px var(--color_border);
  outline: 0;
}






.containerCheck input {
  display: none;
}

.containerCheck {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #2196f300;
  border-radius: 4px;
  transition: all 0.25s;
}

.containerCheck input:checked~.checkmark {
  background-color:var(--green1);;
}

.checkmark:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.4px solid black;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  transition: all 0.25s, border-width 0.1s;
}

.containerCheck input:checked~.checkmark:after {
  left: 5.4px;
  top: 3px;
  width: 5px;
  height: 9px;
  border-color: rgba(255, 255, 255, 0) white white rgba(255, 255, 255, 0);
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}

.checkedCard {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  padding: 5px;
  gap: 10px;
}


.btn_preview{
  padding: 5px 15px;
  border: none;
  background-color: var(--bg-btn);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}