<div class="topic p-2 mt-3">
  <!-- Start Top Topic  -->
  <div class="Board ">
    <h3>Board</h3>
    <div class="d-flex justify-content-between align-items-center">
      <p>In this comprehensive course, we will take you on an...</p>

      <div class="iconTopic d-flex align-items-center  gap-4">
        <div class="left d-flex  align-items-center  gap-1">
          <i class="fa-solid fa-table-list"></i>
          <span>Table</span>
        </div>

        <div class="right">
          <i class="fa-solid fa-circle-chevron-down"></i>

        </div>


      </div>


    </div>

  </div>
  <!-- End  Top Topic -->


  <!-- Box Add Search -->
  <div class="boxOpreation  mt-3 d-flex justify-content-between align-items-center">

    <div class="search">
      <input type="search" name="" id="" placeholder="Search">
    </div>

    <div class="boxOpreation_btn">
      <button class="btn_add rounded-2" (click)="showModal()">
        <i class="fa-solid fa-square-plus mx-2 fs-4"></i>
        <span>New</span>


      </button>
    </div>



  </div>

  <!-- Box Add Search -->

  <div cdkDropList class="Dargs mt-3" (cdkDropListDropped)="drop($event)">
    @for (movie of Topics; track movie.id) {
    <div class="DragDiv mb-3" cdkDrag>
      <div class="topDarg  d-flex justify-content-between align-items-center px-3">
        <div class="headerDrag d-flex gap-3">
          <div class="Icon" >
            <i class="fa-solid fa-grip-vertical fs-5"></i>
          </div>

          <p class="m-0"   [ngClass]="movie.color" (click)="showTabTopic(movie)">

            <i 
            [class]="'fas ' + movie.icon  " 
            aria-hidden="true" 
        

            
            >
          </i>     
             </p>
          <div class="cardTabs " [class.showTabs]="true">
           
            <app-select-icon  [Icons]="icons" ></app-select-icon>

          </div>
          <h3 class="m-0" *ngIf="true" (click)="startEditing(movie)">
            {{ movie.name }}
          </h3>

          <input *ngIf="false" class="inputEdit" type="text" [(ngModel)]="movie.name"
            (blur)="saveValue(movie, movie.name)" (keyup.enter)="saveValue(movie, movie.name)" autofocus />

        </div>


        <div class="rightDarg ">
          <button class="btn btn_default" [disabled]="!movie.default">Default</button>
          <i class="fa-solid fa-sliders mx-3"></i>

        </div>

      </div>

      <div cdkDropList cdkDropListOrientation="horizontal" class="drag_Horizontal my-3"
        (cdkDropListDropped)="dropWitht($event)">
        @for (timePeriod of movie.stages; track timePeriod) {
        <div class="drag_Horizontal_box p-3" cdkDrag [style.border-color]="timePeriod.color"
          [style.box-shadow]="timePeriod.color">
          <div class="stages ">
            <div class="stagesheader d-flex  gap-3  align-items-center">
              <svg width="15" height="15" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.8">
                  <path
                    d="M11 3.5L7.31 7.1675C6.8115 7.663 6.562 7.911 6.2525 7.911C5.943 7.911 5.694 7.663 5.195 7.167L5.075 7.048C4.5765 6.552 4.3265 6.3035 4.017 6.3035C3.7075 6.3035 3.458 6.552 2.9595 7.0485L1 9M11 3.5V6.273M11 3.5H8.209"
                    [attr.stroke]="timePeriod.color" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
              </svg>
              <h5>{{timePeriod.name}} </h5>
            </div>

            <p>{{timePeriod.price}} $</p>


          </div>
          @if ( !$first) {
          <span class="dot_right" [style.background-color]="timePeriod.color"></span>

          }
          @if ( !$last) {
          <div class="connector"></div>

          }

          @if ( !$last) {
          <span class="dot_left" [style.background-color]="timePeriod.color"></span>


          }

        </div>
        }
      </div>


      <div class="bottomDrag d-flex align-items-center gap-3 px-3">
        <div class="contact_bottom d-flex align-items-center gap-2">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span class="tittle">Courses :</span>

          <span>{{movie.snapshot.totalPrice}}</span>
        </div>
        <span class="line"></span>
        <div class="contact_bottom   d-flex align-items-center gap-2">
          <span class="tittle">Total Price :</span>

          <span>{{movie.snapshot.totalPrice | currency}}</span>
        </div>
        <span class="line"></span>


        @if(movie.updatedOn){

        <div class="contact_bottom   d-flex  align-items-center gap-2">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span class="tittle">Last update :</span>

         
          <span>{{movie.updatedOn}}</span>

        </div>
      }

        <div class="contact_bottom  d-flex  align-items-center gap-2">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span class="tittle">Creator :</span>

          <span>{{movie.creator.name}}</span>
        </div>
        <span class="line"></span>
        <div class="contact_bottom   d-flex  align-items-center gap-2">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span class="tittle">Created On :</span>
          <span>{{movie.createdOn | date}}</span>
        </div>
       @if($last){
        <span class="line"></span>

       }
        @if(movie.updater){
        <div class="contact_bottom   d-flex  align-items-center gap-2">
          <i class="fa fa-book" aria-hidden="true"></i>
          <span class="tittle">Last Updater :</span>
       
            <span>{{movie.updater}}</span>

          

        </div>
      }
      </div>
    </div>
    }
  </div>






</div>




<!-- Model -->

<app-popaddtopic  [(isAddPopupVisible)]="isVisible">
</app-popaddtopic>

