<div class="cardStage ">
    <div class="contentStage p-2   ">
      <div class="headerStage d-flex justify-content-between align-items-center mb-2">
        <h3 >{{course.name | splicText : 18}}</h3>
        <div class="dateStage">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <p class="date m-0">{{course.createdOn | date}}</p>
        </div>

      </div>
      <div class="medialContentStage d-flex gap-1 flex-column">
        <p class="m-0"><i class="fa-solid fa-user me-1"></i> {{course.name | splicText : 20}}</p>
  
        <div class="d-flex align-items-center justify-content-between">
          <p class="m-0"><i class="fa-solid fa-sack-dollar me-1"></i> {{course.name}} </p>
          <p class="m-0">{{course.totalProfit}} <i class="fa-solid fa-sack-dollar me-1"></i>  </p>
         </div>
      </div>
      <div class="footerContentStage">
        <hr class="m-0 my-1">
        <div class="stats-container d-flex align-items-center justify-content-between">
          <div class="leftStates">
            <div class="stat"><i class="fas fa-user-check" ></i> 954</div>
            <div class="stat"><i class="fas fa-box"></i> 4</div>
            <div class="stat"><i class="fas fa-comment"></i> 12</div>
            <div class="stat"><i class="fas fa-thumbs-up"></i> 733</div>
          </div>
          <div class="rightStates">
            <div class="stat"><i class="fas fa-comment-dots" ></i></div>
          </div>
 

      </div>
      
      </div>



    </div>
    <div class="lineStage" [ngStyle]="{ 'background-color': colorStage }"></div>

  </div>
