<div class="cardStage ">
    <div class="contentStage p-2   ">
      <div class="headerStage d-flex justify-content-between align-items-center mb-2">
        <h3 [matTooltip]="course.name" >{{course.name | splicText : 30}}</h3>
 

      </div>
      <div class="medialContentStage d-flex gap-1 flex-column">
        <p class="m-0"><i class="fa-solid fa-user me-1"></i> {{course.creator.name| splicText : 20}}</p>
        <div class="dateStage d-flex gap-2">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <p class="date m-0">{{course.createdOn | date }}</p>
        </div>
  
        <div class="d-flex align-items-center justify-content-between">
          <p class="m-0"><i class="fa-solid fa-sack-dollar me-1"></i> {{course.price}} </p>
          <p class="m-0">{{course.totalProfit}} <i class="fa-solid fa-sack-dollar me-1"></i>  </p>
         </div>
      </div>
      <div class="footerContentStage">
        <hr class="m-0 my-1">
        <div class="stats-container d-flex align-items-center justify-content-between">
          <div class="leftStates">
            <div class="stat"><i class="fas fa-user-check" ></i> {{course.studentsCompletedCourse}}</div>
            <div class="stat"><i class="fas fa-box"></i> {{course.lessonseCount}}</div>
            <div class="stat"><i class="fas fa-star"></i> {{course.rating}}</div>
            <div class="stat"><i class="fas fa-thumbs-up"></i> {{course.numberOfUnReadedMessages  }}</div>
          </div>
          <div class="rightStates">
            <div class="stat"><i class="fas fa-comment-dots" ></i> {{course.numberOfUnReadedMessages  }}</div>
          </div>
 

      </div>
      
      </div>



    </div>
    <div class="lineStage" [ngStyle]="{ 'background-color': courseColor }"></div>

  </div>
