<div class="overlay"></div>

<div class="ShowPopup">
    <app-top-pop NamePopup="Create Coupon" [bgColor]="'#ec89501a'"  [ColorIcon]="'#ec8950'"  [NameIcon]="'fa-solid fa-receipt'"></app-top-pop>

    <div class="CouponCourse p-2">
        <div class="leftCoupon">
            <div class="courseSelect">
                <app-text-header  [title]="'Course'" [bgColor]="'#ec8950'"> </app-text-header>
                
            </div>


        </div>
        <div class="rightCoupon">
        </div>

         
    </div>

</div>