<div class="overlay"></div>
<div class="addTopic">
    <app-top-pop [bgColor]="'#fee4e2'" [ColorIcon]="'#ff4b55'" [NameIcon]="'fa-solid fa-trash-can'" [NamePopup]="'Delete Coupon'"  (isVisibleChange)="closePopup()"></app-top-pop>
    <div class="content">
        <div class="Icon mt-3">
            <img src="Images/delete.svg" alt="" >


        </div>
        <p class="textConfirm">Are you sure you want to delete this Coupon?</p>


        <p class="textTitle">This Coupon will be permanently removed and cannot be recovered. All associated discount benefits will be lost.</p>







     
    </div>





    
    <div class="content">

        <div class="btns w-100 d-flex flex-column gap-2" >
            <button class="btn btnDelete" (click)="deleteCoupon()" [disabled]="isDeleting">
                <ng-container *ngIf="!isDeleting; else loading">
                  Delete
                </ng-container>
                <ng-template #loading>
                  <i class="fa-solid fa-spinner fa-spin"></i> Delete

                </ng-template>
              </button>            <button class="btn btnCancel" (click)="closePopup()">Cancel</button>
        </div>
        
  
    </div>


</div>