
<div class="SelectIcons">
    <div class="icon" (click)="close()"> 
        <i class="fa fa-close" aria-hidden="true"></i>

     </div>
    <nz-tabset>

        <nz-tab nzTitle="Color">
      
          <div class="Colors pb-2 d-flex justify-content-center gap-1 flex-wrap">
            @for (color of colors; track $index) {
            <div class=" p-3 rounded-1" 
            [ngStyle]="{'background-color': color}" 
            (click)="selectBg(color)"></div>
            }
          </div>
        </nz-tab>
      
        <nz-tab nzTitle="Icon">
          <div class="Colors pb-2 d-flex justify-content-center gap-2 flex-wrap">
            @for (Icon of Icons; track $index) {
            <div class=" p-2 bg-light shadow-sm rounded-1 " (click)="selectIcon(Icon)">
              <i [ngClass]="Icon" class="fs-6" aria-hidden="true"></i>
            </div>
            }
          </div>
        </nz-tab>
      </nz-tabset>
      <div class="overlaycard" (click)="close()"></div>
</div>
