@if(isVisible) {
<div class="overlay"></div>
<div class="success-popup">

  <div class="popup-body">
    <!-- Success Animation -->
    <div class="success-animation">
      <div class="success-icon">
        <i class="fa-solid fa-check"></i>
      </div>
    </div>

    <!-- Success Content -->
    <div class="success-content">
      <p class="success-message">{{ successData.message }}</p>
      
      @if(successData.details && successData.details.length > 0) {
      <div class="success-details">
        @for(detail of successData.details; track $index) {
        <div class="detail-item">
          <i class="fa-solid fa-check-circle"></i>
          <span>{{ detail }}</span>
        </div>
        }
      </div>
      }


    </div>
  </div>
</div>
} 