<div class="homePage mt-3">
  <div class="header cover ">
    <div class="bgCard"></div>
    <div class="information">
      <div class="icon">👋</div>
      <div class="nameInstrctor d-flex w-100 justify-content-between align-items-center">
        <h4>
          Welcome Back , {{dataUser.UserName}}
        </h4>
        <p><i class="fa-solid fa-quote-left mx-1"></i> {{randomMessage}} <i class="fa-solid fa-quote-right mx-1"></i></p>
      </div>
    </div>
    <div class="cardWidget d-flex justify-content-between gap-4 p-3">
      <div class="cardinfo animated-card">
        <div class="informationCard">
          <h5 class="title">Streak</h5>
          <span class="number animated-number" (click)="onNumberClick('streak')" title="Click to see new numbers!">{{streakCount}}</span>
        </div>
        <div class="iconCard">
          🔥
        </div>
      </div>
      <div class="cardinfo animated-card">
        <div class="informationCard">
          <h5 class="title">Active Courses</h5>
          <span class="number animated-number" (click)="refreshAnimations()" title="Click to refresh all numbers!">{{formatNumber(activeCoursesCount)}}</span>
        </div>
        <div class="iconCard iconCourse">
          <i class="fa-solid fa-person-chalkboard"></i>
        </div>
      </div>

      <div class="cardinfo animated-card">
        <div class="informationCard">
          <h5 class="title">Total Balance</h5>
          <span class="number animated-number" (click)="onNumberClick('revenue')" title="Click for bounce effect!">{{formatNumber(totalRevenueCount)}} $</span>
        </div>
        <div class="iconCard iconMoney">
          <i class="fa-solid fa-money-bill"></i>
        </div>
      </div>

      <div class="cardinfo animated-card">
        <div class="informationCard">
          <h5 class="title">Average Rating</h5>
          <span class="number animated-number" (click)="onNumberClick('rating')" title="Click for animation!">{{averageRatingCount}}</span>
        </div>
        <div class="iconCard iconStar">
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <div class=" p-3 py-4 mt-5">
  <div class="row g-3">
    <div class="col-lg-8 col-12">
      <app-my-courses></app-my-courses>
    </div>

    <div class="col-lg-4 col-12">
      <app-todo></app-todo>
    </div>
  </div>
  <app-discover-cards class="mt-3"></app-discover-cards>
</div>

</div>
