<div class="overlay"></div>

<div class="ShowPopup">
  <app-top-pop NamePopup="Create Coupon" [bgColor]="'#ec89501a'" [ColorIcon]="'#ec8950'"
    [NameIcon]="'fa-solid fa-receipt'" (isVisibleChange)="closePopup()"></app-top-pop>

  <div class="CouponCourse p-2"   [formGroup]="formGroup" *ngIf="isLoadStudents && isLoadCourse">
    <div class="leftCoupon  w-50" >
      <div class="courseSelect ">
        <app-text-header [title]="'Course'" [bgColor]="'#ec8950'"></app-text-header>

        <div *ngIf="!selectedCourse" class="selectcard  mt-3 my-2" (click)="toggleDropdownCourse()">
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="text">
            <p>Click to Add Course</p>
          </div>
        </div>

        <div *ngIf="selectedCourse" class="mt-3">
          <div class="course-card px-2 py-1 position-relative">
            <div class="d-flex align-items-center gap-1">
              <div class="images">
                <img class=" rounded-circle" [src]="baseUrl + selectedCourse.photoUrl" height="30" width="30">

              </div>
              <div class="course-info">
                <h5 class="mb-1 fw-bold">{{selectedCourse.name |splicText:15}}</h5>
                <p class="date mb-0"><i class="fas fa-clock"></i> {{selectedCourse.createdOn | date}}</p>
              </div>
            </div>

            <div class="course-details text-end d-flex flex-column align-items-end justify-content-end">
              <p class="price"> {{selectedCourse.price}} <i class="fas fa-dollar-sign text-success"></i></p>
              <p class="students">{{selectedCourse.enrollmentCount}} <i class="fas fa-graduation-cap text-primary"></i>
              </p>
            </div>

            <button class="closeBtn position-absolute" (click)="removeCourse()"><i
                class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
        <div *ngIf="showDropdownCourse" class="dropdown bg-white border rounded p-2 mt-2">
          <div *ngFor="let lead of paginationCoursesResponse.result"
            class="lead-item d-flex justify-content-between align-items-center p-2 border-bottom cursor-pointer"
            (click)="selectCourse(lead)">
            <div class="info_course d-flex gap-2 align-items-center">
              <img class="img-fluid rounded-circle" [src]="baseUrl + lead.photoUrl" width="30" height="30">
              <div class="info">
                <h5 class="name">{{ lead.name | splicText :13 }}</h5>
                <p class="price">{{ lead.price }}</p>
              </div>
            </div>
            <div class="deals-btn">With Deals</div>
          </div>
        </div>

      </div>
      <div class="courseSelect m-2">
        <app-text-header [title]="'Students'" [bgColor]="'#ec8950'" [Icon]="'fa-solid fa-exclamation'">
        </app-text-header>

        <div *ngIf="!selectedStudents.length" class="selectcard mt-3 my-2"(click)="toggleDropdownStudents($event)">
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="text">
            <p>Click to Add Students</p>
          </div>
        </div>
        <div class="ShowisSelcetd d-flex justify-content-between align-items-center" *ngIf="selectedStudents.length > 0">
          <div  class="d-flex align-items-center mt-3">
            <div class="d-flex gap-2">
              <div *ngFor="let student of selectedStudents.slice(0, 5); let i = index" class="student-avatar">
                <img class="rounded-circle" [src]="baseUrl + student.photoUrl" height="30" width="30"
                  [ngStyle]="{'z-index': selectedStudents.length - i, 'margin-left': i !== 0 ? '-20px' : '0'}">
  
              </div>
              <div *ngIf="selectedStudents.length > 5" class="extra-students">
                +{{ selectedStudents.length - 5 }}
              </div>
            </div>
          </div>

          <div class="add-item" (click)="toggleDropdownStudents($event)">
            <i class="fa-solid fa-plus "></i>

          </div>
        </div>

     


        <div *ngIf="showDropdownStudents" class="dropdown bg-white border rounded p-2 mt-2">
          <div *ngFor="let student of paginationStudentsResponse.result"
            class="lead-item d-flex justify-content-between align-items-center p-2 border-bottom cursor-pointer"
            (click)="selectStudent(student)">
            <div class="info_course d-flex gap-2 align-items-center">
              <img class="img-fluid rounded-circle" [src]="baseUrl + student.photoUrl" width="30" height="30">
              <div class="info">
                <h5 class="name">{{ student.name | splicText :13 }}</h5>
                <p class="price">{{ student.email | splicText:15 }}</p>
              </div>
            </div>
            <div class="deals-btn" *ngIf="!isSelected(student.studentId)">With Deals</div>
            <div class="closeBtn" *ngIf="isSelected(student.studentId)">
              <i  class="fa-regular fa-trash-can"
              (click)="removeStudent(student.studentId, $event)"></i>
            </div>
   

          </div>
        </div>
      </div>

      <div class="mainSelet courseSelect p-2  mt-2">
        <app-text-header [title]="'Maim coupon information'" [bgColor]="'#6662FF'"> </app-text-header>
        <div class="mainContent mt-3">
          <div class="codeCoupon d-flex gap-2 align-items-end mb-2">
            <div class="Course_name flex-grow-1">
              <label for="Course_name">Coupon code</label>
              <input  formControlName="code"  type="text" id="Course_name" placeholder="Enter Coupon code"
                class="input_Couser ">
            </div>
            <div class="deal-desc-btn" tooltipPosition="top">
              <i class="fa-kit fa-subtitles"></i>
            </div>
          </div>
          <div class="desCourse_name Course_name mt-2  active">
            <label for="Course_description">Coupon Notes</label>
            <textarea  formControlName="notes"  class="input_Couser textarea_course"
              id="Course_description"></textarea>
          </div>






        </div>

      </div>



    </div>

    <div class="rightCoupon w-50">

      <div class="dicountCard courseSelect p-2  ">
        <div class="d-flex gap-2 align-items-center justify-content-between checkedCard">
          <app-text-header [title]="'Coupon usage'" [bgColor]="'#04865Fab'">
          </app-text-header>
          <label class="containerCheck">
            <input type="checkbox" [checked]="isLimited" (change)="onLimitedChange($event)">
            <div class="checkmark"></div>
          </label>
        </div>


        <div class="checkDicound" >
          <div class="DiscountValuse">
            <div class="valuDiscound mt-2 w-100 ">
              <input 
              type="number"
              formControlName="allowedUsage"  
              class="input_Couser w-100" 
              placeholder="Enter Discount Value">

            </div>
          </div>

        </div>



      </div>

      <div class="dicountCard courseSelect p-2  mt-2 ">
        <app-text-header [title]="'Discount'" [bgColor]="'#ff6584ab'">
        </app-text-header>
        <div class="checkDicound d-flex gap-2 align-items-center mt-3 justify-content-between">
          <div class="seletDiscound">
            <p-select 
              [options]="discountTypes" 
              optionLabel="label"
              optionValue="value"
              formControlName="discountType">
            </p-select>
          </div>
          <div class="valuDiscound">
            <input type="number" class="input_Couser" placeholder="Enter Discount Value" formControlName="discount">
            <span class="price">
              {{ formGroup.get('discountType')?.value === 1 ? '%' : 'EGP' }}
            </span>
          </div>
        </div>
        


      </div>
      <div class=" courseSelect dateSelet p-2  mt-2  position-relative">
        <app-text-header [title]="'Coupon activation data'" [bgColor]="'#FFE065'">
        </app-text-header>
        <div class="FromDate mt-3 d-flex gap-2 align-items-center justify-content-between">
          <div class="DateFrom  d-flex flex-column gap-1">
            <label for="DateFrom">From</label>
            <div class="date position-relative">
              <p-datepicker 
              inputId="calendar-12h" 
              [formControlName]="'validFrom'" 
              dateFormat="dd/mm/yy" 
              [showTime]="true" 
            >
            </p-datepicker>         
            
         
            <div class="icon" *ngIf="!formGroup.get('validFrom')?.value">
              <img alt="" loading="lazy" width="16px" height="16px" src="https://s3.dinarcrm.com/assets/img/contacts/calendar-deal-list.svg">     
            
            </div>
            </div>


          </div>
          <div class="DateFrom  d-flex flex-column gap-1">
            <label for="DateFrom">To</label>
            <div class="date position-relative">
              <p-datepicker 
              inputId="calendar-12h" 
              [formControlName]="'validTo'" 
              dateFormat="dd/mm/yy" 
              [showTime]="true" 
            >
            </p-datepicker>
            
            <div class="icon" *ngIf="!formGroup.get('validTo')?.value">
              <img alt="" loading="lazy" width="16px" height="16px" src="https://s3.dinarcrm.com/assets/img/contacts/calendar-deal-list.svg">            </div>
            
            </div>

          </div>

        </div>


      </div>



    </div>




  </div>
  <div class="course-skeleton" *ngIf="!isLoadStudents && !isLoadCourse">
    <div class="leftParts">
      <div class="left-section ">
        <div class="card-skeleton mb-3">
          <div class="input-skeleton"></div>
          <div class="input-skeleton"></div>

        </div>
        <div class="card-skeleton skeletonBottom">
          <div class="input-skeleton"></div>

        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="input-skeleton"></div>
            <div class="input-skeleton"></div>

            <div class="input-skeleton"></div>

      <div class="input-skeleton"></div>
      <div class="photo-skeleton video"></div>

    </div>
  </div>

  <div class="footerCourse bg-white rounded-1">
    <div class="btnsCourse">


      <button (click)="createCoupon()" [disabled]="isCreatingCoupon || !formGroup.valid || !selectedCourse">
        <span *ngIf="isCreatingCoupon" class="spinner"></span>
        <span>{{ isCreatingCoupon ? 'Creating...' : 'Create' }}</span>
      </button>

    </div>
  </div>



</div>