<div class="registerInstructor">
  <div class="cardForm">
    <div class="logo">
      <img src="Images/Logo.png" alt="" />
    </div>
    <div class="dataInstructor my-4 px-3">
      <nz-steps [nzCurrent]="current">
        <nz-step [nzIcon]="one"></nz-step>
        <nz-step [nzIcon]="two"></nz-step>
        <nz-step [nzIcon]="three"></nz-step>

        <ng-template #one>1</ng-template>

        <ng-template #two>2</ng-template>

        <ng-template #three>3</ng-template>
      </nz-steps>
    </div>

    <form class="p-3" [formGroup]="registerFrom">
      @switch (current) {
         @case (0) {
      <!-- Lable Input -->
      <div class="position-relative mb-3">
        <!-- Input Field -->
        <input
          class="input-cal input-base inputFloating"
          placeholder=""
          type="text"
          formControlName="name"
          [ngClass]="{
            invalid: isFieldInvalid('name'),
            success: isFieldValid('name')
          }"
        />

        <!-- Label -->
        <label id="label-input">Name</label>

      
      </div>

      <div
        class="position-relative my-3"
        [class.my-3]="!isFieldInvalid('userName')"
      >
        <input
          class="input-cal input-base inputFloating"
          placeholder=""
          type="text"
          formControlName="userName"
          (blur)="validUseName('userName', 0)"

          [ngClass]="{
            invalid: !showIconsUserName && isFieldInvalid('userName'),
            success: showIconsUserName && isFieldValid('userName')
          }"
        />
        <label id="label-input">User name</label>

    
      </div>
      @if(isFieldInvalid('userName')){
      <p class="error-message m">{{MessageUseName}}</p>

      }

      <div
        class="position-relative my-3"
        [class.my-3]="!isFieldInvalid('email')"
      >
        <input
          class="input-cal input-base inputFloating"
          placeholder=""
          type="text"
          formControlName="email"
          (blur)="validEmail('email', 1)"

          [ngClass]="{
            invalid: !showIconsEmail && isFieldInvalid('email'),
            success: showIconsEmail && isFieldValid('email')
          }"
        />
        <label id="label-input">Email</label>

     
      </div>
      @if(isFieldInvalid('email')){
        <p class="error-message m">{{MessageEmail}}</p>

      }

      <div class="position-relative">
        <!-- <ngx-intl-tel-input
          [cssClass]="getCssClass('phoneNumber')"
          [preferredCountries]="preferredCountries"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="true"
          [selectedCountryISO]="CountryISO.Egypt"
          [phoneValidation]="true"
          [numberFormat]="PhoneNumberFormat.National"
          name="phoneNumber"
          formControlName="phoneNumber"
          (focusout)="validPhone('phoneNumber', 2)"

        ></ngx-intl-tel-input> -->

        <!-- @if(registerFrom.get("phoneNumber")?.errors &&
        registerFrom.get("phoneNumber")?.touched){
        <p class="error-message m-0">{{MessagePhone}}</p>

        } -->
      
        <input
        class="input-cal input-base inputFloating"
        placeholder=""
        type="text"
        formControlName="phoneNumber"
        (blur)="validEmail('phoneNumber',2)"

        [ngClass]="{
          invalid: !showIconsUserName && isFieldInvalid('phoneNumber'),
          success: showIconsUserName && isFieldValid('phoneNumber')
        }"
      />
      <label id="label-input">PhoneNumber</label>



        
      </div>
        @if(registerFrom.get("phoneNumber")?.errors &&
        registerFrom.get("phoneNumber")?.touched){
        <p class="error-message m-0">{{MessagePhone}}</p>

        }
      }
       @case (1) {
      <div class="position-relative mb-4">
        <nz-select
          nzMode="default"
          nzPlaceHolder="Select Country"
          nzAllowClear
          nzServerSearch
          class="input-cal input-base inputFloating"
          [ngClass]="{
            invalid: isFieldInvalid('countryId'),
            success: isFieldValid('countryId')
          }"
          formControlName="countryId"
        >
          @for (country of allCountry; track country.id) {
          <nz-option
            [nzValue]="country.id"
            [nzLabel]="country.name"
          ></nz-option>
          }
        </nz-select>
        <label id="label-input">country </label>
      </div>

      <div class="position-relative mb-3">
        <nz-select
          nzMode="default"
          nzPlaceHolder="Select Preferred language"
          nzAllowClear
          nzServerSearch
          class="input-cal input-base inputFloating"
          [ngClass]="{
            invalid: isFieldInvalid('preferredLanguge'),
            success: isFieldValid('preferredLanguge')
          }"
          formControlName="preferredLanguge"
        >
          <nz-option nzValue="0" nzLabel="Arabic"></nz-option>
          <nz-option nzValue="1" nzLabel="English"></nz-option>
        </nz-select>
        <label id="label-input">Preferred language </label>
      </div>

      <select
        formControlName="languageId"
        name=""
        id=""
        class="p-2 selected w-25"
        [ngClass]="{
          invalid: isFieldInvalid('languageId'),
          success: isFieldValid('languageId')
        }"
      >
        @for (language of allLangauge; track language.id) {

        <option [value]="language.id">{{ language.name }}</option>
        }
      </select>

      } 
      
      @case (2) {
      <!-- Lable Input -->
      <div class="position-relative mb-3">
        <input
          class="input-cal input-base inputFloating"
          placeholder=""
          [type]="passwordFieldType ? 'password' : 'text'"
          formControlName="password"
          [ngClass]="{
            'invalid': isFieldInvalid('password'),
            'success': isFieldValid('password')
          }"
        />
        <label id="label-input">Password</label>
        <i
          (click)="togglePasswordVisibility()"
          role="button"
          class="fa-solid position-absolute passicon"
          [class.fa-eye]="passwordFieldType"
          [class.fa-eye-slash]="!passwordFieldType"
        >
        </i>
      </div>

      <div class="position-relative mb-3">
        <input
          class="input-cal input-base inputFloating"
          placeholder=""
          [type]="repasswordFieldType ? 'password' : 'text'"
          formControlName="confirmedPassword"
          [ngClass]="{
            'invalid': !registerFrom.get('rePassword')?.touched && (registerFrom.getError('mismatch') &&  registerFrom.get('confirmedPassword')?.dirty) ,
            'success': isFieldValid('confirmedPassword') && (!registerFrom.getError('mismatch') && registerFrom.get('confirmedPassword')?.dirty)
          }"

        />
        <label id="label-input">Repassword</label>
        <i
          (click)="toggleRePasswordVisibility()"
          role="button"
          class="fa-solid position-absolute passicon"
          [class.fa-eye]="repasswordFieldType"
          [class.fa-eye-slash]="!repasswordFieldType"

        >
        </i>

        @if(registerFrom.get("mismatch")?.errors &&
        registerFrom.get("confirmedPassword")?.touched){
        <p class="error-message m">asdasdasd</p>
  
        } 
      </div>




        } 
    }

    </form>

    <div class="steps-action py-3">
      @if (current == 0) {

      <div class="action px-3 d-flex justify-content-end gap-3">
        <button class="btn" type="submit" routerLink="/startregister">
          <span>Back</span>
        </button>
        <button class="btn btnAcrive" (click)="next()">
          <span>Next</span>
        </button>
      </div>

      } @if (current === 1) {

      <div class="action px-3 d-flex justify-content-end gap-3">
        <button class="btn" (click)="pre()">
          <span>Back</span>
        </button>
        <button class="btn btnAcrive" (click)="next()">
          <span>Next</span>
        </button>
      </div>
      } @if (current === 2) {
      <div class="action px-3 d-flex justify-content-end gap-3">
        <button class="btn" (click)="pre()">
          <span>Back</span>
        </button>
        <button
          class="btn btnAcrive"
          (click)="submitForm()"
          [disabled]="registerFrom.invalid"
        >
          <span>Done</span>
        </button>
      </div>
      }
    </div>
  </div>

  <div class="ImgLogin">
    <img src="Images/Login_Screen.png" alt="" />
  </div>
</div>
