.registerInstructor{
    background: var(--fwhite);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.cardForm {
    background: #fffffffc;
    box-shadow: 2px 4px 6px 2px #0000000d;
    width: 465px;
    border-radius: 20px;
    padding: 20px 20px;
}

.logo img {
    width: 113px;
    height: 58px;
}

.ImgLogin img {
    width: 692px;
    height: 499.88px;
}



  .phoneInput{
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px solid var(--gray1);
    padding: 17px 10px 10px 17px;
    width: 100%;
    border-radius: 8px ;
  }

  .ngx-mat-intl-tel-input .country-selector-code {
    display: none !important;
  }
  .action .btn{
    border: 1px solid var(--green2);
    color: var(--green2);
    padding: 6px 30px;
  }

   .action .btnAcrive{
    border: none;
    background-color: var(--green2);
    color: var(--white);
    padding: 6px 30px;
  }
  .intl-tel-input .country-list {
    z-index: 1050; /* Adjust as needed */
  }
