<div class="registerInstructor">

  <div class="cardForm">
    <div class="logo">
      <img src="Images/Logo.png" alt="">

    </div>
    <div class="dataInstructor my-4 px-3">

      <nz-steps [nzCurrent]="current">
        <nz-step [nzIcon]="one"></nz-step>
        <nz-step [nzIcon]="two"></nz-step>
        <nz-step [nzIcon]="three"></nz-step>

        <ng-template #one>1</ng-template>

        <ng-template #two>2</ng-template>

        <ng-template #three>3</ng-template>

      </nz-steps>


    </div>

    <form class="p-3" [formGroup]="registerFrom">

      @switch (current) {
      @case (0) {
      <!-- Lable Input -->
      <div class="position-relative mb-3">
        <!-- Input Field -->
        <input
          class="input-cal input-base inputFloating"
          placeholder=""
          type="text"
          formControlName="name"
          [ngClass]="{
            'invalid': isFieldInvalid('name'),
            'success': isFieldValid('name')
          }"
        />
        
        <!-- Label -->
        <label id="label-input">Name</label>
        
        <!-- Icon Container -->
        <div
          class="input-Icon"
          [ngClass]="{
            'input-Icon-failed': isFieldInvalid('name'),
            'input-Icon-success': isFieldValid('name')
          }"
        >
          <!-- Icon -->
          <i
            class="fa-solid"
            [ngClass]="{
              'fa-xmark': isFieldInvalid('name'),
              'fa-check': isFieldValid('name')
            }"
          ></i>
        </div>
      </div>

      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="text" formControlName="userName"
        >
        <label id="label-input">User name</label>
      </div>

      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="text" formControlName="email" >
        <label id="label-input">Email</label>
      </div>

      <div class="position-relative  my-3  " >
        <ngx-intl-tel-input
        [cssClass]="'custom'" 
        [preferredCountries]="preferredCountries"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
        [selectFirstCountry]="true"
        [selectedCountryISO]="CountryISO.Egypt" 
        [maxLength]="11" 
        [phoneValidation]="true"
        [numberFormat]="PhoneNumberFormat.National" 
        name="phone"
        formControlName="phoneNumber"

        ></ngx-intl-tel-input>
      </div>
      }

      @case (1) {
      <!-- Lable Input -->
      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="text" formControlName="countryId"
        >
        <label id="label-input" >Country</label>
      </div>

      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="text" >
        <label id="label-input">Preferred language</label>
      </div>




      }



      @case (2) {
      <!-- Lable Input -->
      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="text" >
        <label id="label-input">Password</label>
      </div>

      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="text" >
        <label id="label-input">Repassword</label>
      </div>




      }

      }




    </form>



    <div class="steps-action py-3">
      @if (current == 0) {

      <div class="action mx-4  px-3 d-flex justify-content-end  gap-3 ">
        <button class="btn " type="submit" (click)="submitForm()">
          <span>Back</span>
        </button>
        <button class="btn btnAcrive" (click)="next()">
          <span>Next</span>
        </button>

      </div>

      }
      @if (current === 1) {

      <div class="action mx-4  px-3 d-flex justify-content-end  gap-3 ">
        <button class="btn " (click)="pre()">
          <span>Back</span>
        </button>
        <button class="btn btnAcrive" (click)="next()">
          <span>Next</span>
        </button>

      </div>
      }
      @if (current === 2) {
      <div class="action mx-4  px-3 d-flex justify-content-end  gap-3 ">
        <button class="btn " (click)="pre()">
          <span>Back</span>
        </button>
        <button class="btn btnAcrive" (click)="done()">
          <span>Done</span>
        </button>

      </div>
      }
    </div>



  </div>

  <div class="ImgLogin">
    <img src="Images/Login_Screen.png" alt="">
  </div>

</div>