
<nz-modal
 nzCentered 
 [(nzVisible)]="isAddPopupVisible" 
  [nzFooter]="null"
 
 >
    <div class="ModelTopic" *nzModalContent >

     <app-top-pop [NamePopup]="'Add Topic'" (isVisibleChange)="handleCancel()"></app-top-pop>
      <div class="content-model d-flex justify-content-between pt-3">
  
  
        <div  class="leftContant">
          <div class="nameContact d-flex  gap-2 align-items-center">
            <div class="Tasbs  colorBox p-2 rounded-1 " [ngClass]="colorDefault" (click)="showTab()">
              <i [class]="currentIcon" aria-hidden="true"></i>
            </div>
  
  
            <div class="cardTabs " [class.showTabs]="!ishowTab">

       
                <!-- Use Select Icon Copompot here -->
  
                <app-select-icon
                    [Icons]="icons"
                    [colors]="colors"
                    (iconSelected)="handleIconSelected($event)"
                    (colorSelected)="handleColorSelected($event)"
                    (closeModal)="showTab()" 
                    
                    >
              </app-select-icon>
  
   
        
            </div>
  
  
            <div  [formGroup]="myForm"  class="inputName ">
              <input type="text" placeholder="Name Topic" formControlName="name">
            </div>
  
          </div>
  
  
          <div   [formGroup]="myForm"  class="description my-2">
  
            <textarea name="" id="" placeholder="Description "  formControlName="description"></textarea>
  
          </div>
          <form [formGroup]="myForm">

          <div class="chooseTopic d-flex gap-3 justify-content-between align-items-center">

            <nz-select
            nzMode="default"
            nzPlaceHolder="Select Preferred language"
            nzAllowClear
            nzServerSearch
            class="input-cal input-base inputFloating"
            formControlName="mainId"


            >
            <nz-option nzValue="0" nzLabel="Arabic"></nz-option>
            <nz-option nzValue="1" nzLabel="English"></nz-option>
          </nz-select>

          
            <div [formGroup]="myForm" class="d-flex gap-2 checkedCard">
              <label class="labelChecked" for="invalidCheck">Main</label>
          
              <label class="containerCheck">
                <input type="checkbox" id="invalidCheck" formControlName="isMain">
                <div class="checkmark"></div>
              </label>
            </div>
          
          </div>
        </form>
        </div>
        <div class="rightContant ">
          <img src="Images/imageModel.png" alt="">
  
        </div>
  
  
  
  
      </div>
  
  
  
      <div class="footerModel d-flex justify-content-end align-items-end mt-3 mx-3">
        <div class="btns ">
          <button class="btn_preview rounded-2" (click)="addTopic()" [disabled] = "myForm.invalid">Next</button>
        </div>
  
      </div>
  
    </div>
  
  
  
  </nz-modal>












  
<app-editpopuptopic  [twovisible]="twovisible"  [topicList]="topicList"       />