

// Model
::ng-deep .ant-modal-body {
    padding: 0px !important;
}
::ng-deep .ant-modal-content{
  border-radius: 15px !important;
  overflow: hidden !important;
  height:320px !important; 

}
.content-model{
    padding: 24px !important;
}
::ng-deep .ant-modal-close-x{
  display: none !important;
}


.content-model img{
  width: 200px;

  
}

.cardTabs{
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px !important;
  background-color: var(--white);
  box-shadow: 0px 3px 24px rgba(50, 56, 51, 0.36);
  position: absolute;
  top: 100px;
  width: 250px;
  opacity: 1;
  transition: 0.2s opacity ease-in;
  visibility: visible;
  z-index: 5888;  
}

.Dargs .cardTabs{
  top: 60px;
  left: 40px;
}
.cardTabs.showTabs{
  opacity: 0;
  visibility: hidden;

}



// Tabs
::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--green2) !important;
  transition: 0.5s color ease-in;
  overflow: hidden;



}
::ng-deep .ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
  color: var(--green2) !important;
}
::ng-deep  .ant-tabs-tab-btn:hover , ::ng-deep .ant-tabs-tab:hover{ 
  color: var(--green2) !important;
  transition: 0.5s color ease-in;
  overflow: hidden;


}
::ng-deep .ant-tabs-ink-bar {
  position: absolute;
  background: var(--green2) !important;
  pointer-events: none;
  transition: 0.5s color ease-in;
  overflow: hidden;

}

.colorBox{
  cursor: pointer;
}


.inputName input{
  outline: none;
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
}


.description textarea {
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  outline: none;
  resize:none;
  height: 80px;
}




nz-select {
  width: 120px;
}
::ng-deep  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--green2) !important;
}

::ng-deep  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--green2) !important;
  box-shadow: 0 0 0 2px var(--color_border);
  outline: 0;
}






.containerCheck input {
  display: none;
}

.containerCheck {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #2196f300;
  border-radius: 4px;
  transition: all 0.25s;
}

.containerCheck input:checked~.checkmark {
  background-color:var(--green1);;
}

.checkmark:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.4px solid black;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  transition: all 0.25s, border-width 0.1s;
}

.containerCheck input:checked~.checkmark:after {
  left: 5.4px;
  top: 3px;
  width: 5px;
  height: 9px;
  border-color: rgba(255, 255, 255, 0) white white rgba(255, 255, 255, 0);
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}

.checkedCard {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px;
  border: 1px solid var(--color_border);
  padding: 5px;
  gap: 10px;
}


.btn_preview{
  padding: 5px 15px;
  border: none;
  background-color: var(--bg-btn);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}
.btn_preview:disabled{
  background-color: var(--color_border);
  color: var(--color_text);
  cursor: not-allowed;
}
.bottomDrag .line{
  font-size: 15px;
  color: var(--color_border);
  cursor: pointer;
  background-color: var(--color_border);
  width: 2px;
  height: 20px;
  border-radius: 2px;
}
.contact_bottom i{
  font-size: 15px;
  color: var(--color_border);
  cursor: pointer;



}

.contact_bottom .tittle{
  font-size: 15px;
  color: var(--color_border);
  cursor: pointer;
  font-family: Itim;
}










