<div class="login">

    <div class="cardForm">
        <div class="logo">
            <img src="Images/Logo.png" alt="">

        </div>
<div class="stepThree" >
    <div class="textHeader d-flex flex-column gap-2 justify-content-center align-items-center">
        <img src="Images/Login/IconLock.png" alt="" width="120px" >
      <p class="title_logo text-center mt-3">Change Your Password</p>
      <p class="title_logo_Pass text-center mt-3">Please enter your new password below</p>
    </div>
  
    <form class="p-3 mb-3" >
      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="password"
          >
        <label id="label-input">New Password</label>
      </div>
      <div class="position-relative mb-3">
        <input class="input-cal input-base inputFloating" placeholder="" type="password"
          >
        <label id="label-input">Confirm Password</label>
      </div>
          
      <button class="btn " routerLink="/Login">Change Password</button>

  
    </form>
  </div>


</div>

  
  <div class="ImgLogin" >
    <img src="Images/Login/ChangePassworf.png" alt="">
  </div>


</div>