<div class="viewLesson mt-2">
    <div class="cover">
        <img src="Images/CardProfile.png" alt="Cover Image" width="100%" height="100%" />
        <div class="informainon d-flex justify-content-between">
            <div class="IconBack position-absolute">
                <a class="d-flex align-items-center gap-2 text-white " (click)="goBackToCourse()" style="cursor:pointer;">
                    <i class="fa-solid fa-arrow-left"></i>
                    <p>Back Course</p>
                </a>
            </div>
            <div class="rightInfo">
                <h2>Lesson Title</h2>
                <div class="tagsShow">
                    <p class="tag">#Tag1 web </p>
                    <p class="tag">#Tag1 web </p>
                    <p class="tag">#Tag1 web </p>
                    <p class="tag">#Tag1 web </p>

                    <p class="tag">#Tag1 web </p>

                </div>
            </div>
            <div class="leftInfo">
                <img src="Images/create-videos-online-courses-cover-coursifyme.jpg" alt="">
            </div>

        </div>
    </div>

    
</div>