<div class="lesson-skeleton">
  <div class="header">
    <div class="title-skeleton"></div>
    <div class="img-skeleton"></div>
  </div>

  <div class="tabs">
    <div class="tab-skeleton"></div>
    <div class="tab-skeleton"></div>
  </div>

  <div class="content">
    <div class="left">
      <div class="section-title"></div>
      <div class="paragraph-line"></div>
      <div class="paragraph-line"></div>
      <div class="stat-boxes">
        <div class="stat-skeleton"></div>
        <div class="stat-skeleton"></div>
        <div class="stat-skeleton"></div>
        <div class="stat-skeleton"></div>
      </div>
      <div class="video-placeholder"></div>
    </div>

    <div class="right">
      <div class="video-list">
        <div class="video-skeleton"></div>
        <div class="video-skeleton"></div>
      </div>
      <div class="resource-skeleton"></div>
      <div class="resource-skeleton"></div>
      <div class="resource-skeleton"></div>
    </div>
  </div>
</div>
