<div class="login">

    <div class="cardForm">
        <div class="logo">
            <img src="Images/Logo.png" alt="">

        </div>

        <p class="title_logo text-center mt-3">
            Pick Up <br>No place for the idle!
        </p>

        <form  class="mt-4 p-3 py-5" [formGroup]="loginForm" (ngSubmit)="LoginSubmit()" >

            <div class="position-relative mb-3">
                <input class="input-cal input-base inputFloating"
                 placeholder="" 
                 type="text"
                  formControlName="emailOrPhoneNumber"
                  [ngClass]="{
                    invalid: isFieldInvalid('emailOrPhoneNumber'),
                    success:  isFieldValid('emailOrPhoneNumber')
                  }"
                  >
                <label id="label-input">Email or Phone number</label>
              </div>

            <div class="position-relative mb-3">
                <input class="input-cal input-base inputFloating" 
                placeholder="" 
                [type]="passwordFieldType ? 'password' : 'text'"
                 formControlName="password"
                 [ngClass]="{
                    invalid: isFieldInvalid('password'),
                    success:  isFieldValid('password')
                  }"
                 >
                <label id="label-input">Password</label>
                        <i (click)="togglePasswordVisibility()" role="button" class="fa-solid position-absolute passicon"
                        [class.fa-eye]="passwordFieldType" [class.fa-eye-slash]="!passwordFieldType">
                    </i>
              </div>

              @if(MessageUseName){
                <p class="error-message m">{{MessageUseName}}</p>

              }


      

            <div class="input_group d-flex justify-content-between">

                <div class="d-flex gap-2 checkedCard">
                    <label class="containerCheck">
                        <input  type="checkbox" id="invalidCheck">
                        <div class="checkmark">
                            
                        </div>
                    </label> <label class="labelChecked " for="invalidCheck">
                        Remember me
                    </label>
                </div>

                <div class="routePassword">
                    <a href="">Forgot password?</a>
                </div>

            </div>

            <button class="btn btnt mb-3"  type="submit" [disabled]="loginForm.invalid">
                Login @if(isLoading){
                    <span> <i class="fas fa-spin fa-spinner mx-2"></i> </span>
            
                    }
            </button>
            <button class="btn btn_border" routerLink="/startregister">Sign Up</button>


        </form>
    </div>
    <div class="ImgLogin">
        <img src="Images/Login/LoginImage.png" alt="">
    </div>

</div>