@if(isVisble){
<div class="overlay"></div>
<div class="addTopic">
  <app-top-pop [NamePopup]="'Add Topic'" (isVisibleChange)="closePopup()"></app-top-pop>
  <div class="bodyAdd d-flex">
    <div class="leftBody">
      <div class="headerBody">
        @if(isnext){
        <h5>Create Your Topic Now</h5>

        }
        @else {
        <h5>Create Your Stage Now</h5>

        }
        <p>Have more control with different Topic to easily manage</p>
      </div>
      <div class="line"></div>

      <div class="formBody" *ngIf="isnext">
        <div class="formGroupInput" [formGroup]="topicForm">
          <label>Topic Name</label>
          <div class="input-info-group mb-2">
            <input maxlength="50" type="text" formControlName="name" />
            <div class="dropdownColor">
              <div class="btn dropdownColor-toggle" (click)="showTab()">
                <div class="squareSelected " [ngStyle]="{ 'background-color': colorDefault }">
                  <i [class]="currentIcon"></i>
                </div>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </div>
            <div class="cardTabs" [class.showTabs]="ishowTab">
              <!-- Use Select Icon Copompot here -->

              <app-select-icon [Icons]="icons" [colors]="colors" (iconSelected)="handleIconSelected($event)"
                (colorSelected)="handleColorSelected($event)" (closeModal)="showTab()">
              </app-select-icon>
            </div>
          </div>
          <label>Topic Description</label>
          <div class="board-group mb-2">
            <textarea rows="2" cols="30" pinputtextarea="" maxlength="500" formControlName="description"></textarea>
          </div>
          <div class="SelectTopic d-flex gap-3 align-items-start justify-content-between">
            <div class="customSelect">
              <app-customslectwithicon [items]="topicsList" [isSelected]="true" [selectedItem]="selectedValue"
                [isLoadTopic]="true" [disabled]="topicForm.get('isMain')?.value"
                (selectionChangeTopic)="onTopicSelected($event)">
              </app-customslectwithicon>
            </div>

            <div class="d-flex gap-2 align-items-center checkedCard">
              <label class="labelChecked mb-0" for="invalidCheck">Main</label>

              <label class="containerCheck mb-0">
                <input type="checkbox" id="invalidCheck" formControlName="isMain" />
                <div class="checkmark"></div>
              </label>
            </div>
          </div>

        </div>
      </div>
      <div class="fromStage" *ngIf="!isnext">
        <button class="add-stage-btn" [disabled]="stages.length >= maxStages" (click)="addStage()">
          <i class="fa-kit fa-add-circle"></i> Add Stage
        </button>
        <div class="cdk-drop-list stages  " [formGroup]="stageForm">
          <div class="cdk-drag stage ng-star-inserted ms-3">
            <div class="color-popup d-flex justify-content-center position-relative">
              <div class="squareSelected circle" [ngStyle]="{'background-color': topicResult.result.stages[0].color}">
              </div>

            </div>
            <input maxlength="50" type="text" [value]="topicResult.result.stages[0].name" readonly class=" dragged "
              placeholder="Enter Stage Name" />
            <button class="stage-trash ng-star-inserted opacity-0">
              <i class="fa-kit fa-delete"></i></button>
          </div>
          <div class="stagesDynamic" formArrayName="newStages">
            <div *ngFor="let child of stages.controls; let i = index" [formGroupName]="i">
              <div class="cdk-drag stage ng-star-inserted">
                <img src="https://s3.dinarcrm.com/assets/img/tasks-board/drag.svg" />
                <div class="color-popup position-relative" (click)="togglePackageColor(i)">
                  <div class="squareSelected circle" [ngStyle]="{'background-color': selectedColors[i]}"></div>
                  <img alt="" class="arrow_stage" src="https://s3.dinarcrm.com/assets/img/tasks-board/arrow-down.svg" />
                </div>
                <input maxlength="50" type="text" formControlName="name" class=" dragged "
                  placeholder="Enter Stage Name" />
                <button class="stage-trash ng-star-inserted" (click)="removeStage(i)">
                  <i class="fa-kit fa-delete"></i>
                </button>
                <div class="packageColor" *ngIf="openIndex === i">
                  @for (color of colors; track $index) {
                  <div (click)="selectColor(i, color)" class="colorBox  rounded-1"
                    [ngStyle]="{'background-color': color}"></div>
                  }
                </div>
              </div>
            </div>



          </div>
          <div class="cdk-drag stage ng-star-inserted ms-3">
            <div class="color-popup position-relative d-flex justify-content-center">
              <div class="squareSelected circle" [ngStyle]="{'background-color': topicResult.result.stages[1].color}">
              </div>
            </div>
            <input maxlength="50" type="text" pinputtext="" [value]="topicResult.result.stages[1].name" readonly
              class=" dragged " placeholder="Enter Stage Name" />
            <button class="stage-trash ng-star-inserted opacity-0">
              <i class="fa-kit fa-delete"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="rightBody">
      <div class="imagePosition">
        <img src="Images/2f4af133-fd73-422b-88aa-6fbc53354691.png" alt="" />
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-info ng-star-inserted">
      <div class="progress">
        <div class="first"></div>
        <div class="second"></div>
      </div>
      @if(isnext){
      <div class="step">
        <p>Step <span>2/1</span></p>
        <h3>Topic Details</h3>
      </div>
      }
      @else {
      <div class="step">
        <p>Step <span>2/2</span></p>
        <h3>Stage Details</h3>
      </div>
      }

    </div>
    @if(isnext){
    <div class="board-footer-btn" (click)="submitFormTopic()">
      <button class="p-element " [disabled]="isLoad">
        <span *ngIf="isLoad" class="spinner"></span>
        <span *ngIf="!isLoad">Next Step</span>
      </button>
    </div>

    }
    @else {
    <div class="board-footer-btn" (click)="submitFormStage()">
      <button class="p-element ">
        <span *ngIf="isLoad" class="spinner"></span>
        <span *ngIf="!isLoad">Done</span>
      </button>
    </div>
    }


  </footer>
</div>
}