<div class="lessons">
    @for (lesson of ListLessonData.result; track lesson.id) {
    <div class="lessonCard">
        <div class="drag">
            <span class="icon">
                <span class="number">{{$index+1}} : </span>

            </span>
        </div>
        <div class="leftCardLesson">
            <span class="title">{{lesson.name}}</span>

        </div>
        <div class="rightCardLesson d-flex align-items-center justify-content-center gap-2">
            <div class="information d-flex align-items-center justify-content-center gap-2">
                <div class="video d-flex align-items-center justify-content-center gap-2">
                    <span class="icon">
                        <i class="fa-solid fa-video"></i>
                    </span>
                    <p class="number">{{lesson.videosCount}}</p>
                </div>
                <div class="line"></div>
                <div class="video d-flex align-items-center justify-content-center gap-2">
                    <span class="icon">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <p class="number">{{lesson.viewsCount}}</p>
                </div>
                <div class="line"></div>
                <div class="video d-flex align-items-center justify-content-center gap-2">
                    <span class="icon">
                        <i class="fa-regular fa-clock"></i>

                    </span>
                    <p class="number">{{lesson.durationInMinutes}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="view">
                <button routerLink="/viewLesson/{{lesson.id}}">

                    <span class="text">View Details</span>
                </button>
            </div>
            <div class="custom-icon p-2 rounded-2 bg-light ms-3" (click)="openDeleteLessonPopup(lesson)"><i
                    class="fa-solid fa-trash-can" style="color: var(--red-icon-hover);"></i></div>
        </div>

    </div>


    }
    @empty {
    <div class="empty-state h-100">
        <div class="empty-icon">
            <i class="fa-solid fa-person-chalkboard"></i>
        </div>
        <h3>No Lesson Found</h3>
        <p>This course doesn't have any Lesson yet. Create your first Lesson to get started!</p>

    </div>
    }


</div>

<app-delete-lesson *ngIf="isDeletePopupVisible && selectedDeleteLesson" [deleteId]="selectedDeleteLesson.id"
    [LessonTitle]="selectedDeleteLesson.name" (close)="closeDeletePopup()" (delete)="deleteLesson()">

</app-delete-lesson>