.lessons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.lessonCard{
    border-radius: 4px;
    border: .75px solid rgba(246, 246, 246, .9);
    background: #fff;
    box-shadow: 0 0 4px #606c800a;
    border: 1px solid #eaeaea;
    padding: 6px 0 6px 8px;
    display: flex; 
    align-items: baseline;
    height: 50px;
    width: 100%;
    gap: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    position: relative;
    margin-inline-start: 15px;

}
.drag{
    position: absolute;
    inset-inline-start:-18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
}
.lessonCard .drag span.icon i{
    color: #3f3d5661;

}
.lessonCard .drag:hover span.icon i{
    color: #3F3D56;

}

.lessonCard .number{
    font-size: 14px;
    color: #6B7280;
    font-family: var(--font-family-2);
    font-weight: 600;
}
.lessonCard .title{
    font-size: 16px;
    color: #111827;
    font-family: var(--font-family-1);
    font-weight: 600;
}
.lessonCard  .icon i{
    color: #3F3D56;
}
.line{
    width: 1px;
    height: 20px;
    background: #eaeaea;
    border-radius: 2px;
}

.view button {
    background: #fff;
    border: 1px solid var(--bg-btn);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    color: var(--bg-btn);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.view button:hover {
    background: var(--bg-btn);
    color: #fff;
}