

@use '@angular/material' as mat;

@include mat.core();
$Pickup-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($Pickup-theme);
}




:root{
     --bggreen:#F3FFEF;
    --green1:#18c36e;
    --green2:#76D750;
    --bgHome:#F4F4F4;
    --fwhite:#F8FBF7;
    --success:#059529;
    --error :#B90000;
    --color_link :#000000;
    --color_border:#C6D1DC;
    --white: #FFFFFF;
    --gray1:#C6D1DC;
    --gray2: #1F28328F;
    --label-color:#5f5d5dee;
    --color-side:#D7EAD2;
    --bg-btn:#7AD34C;
    --bg-red : #FD00001A; ;
    --red-icon-hover :#FD000080;


}
ul {
  list-style: none;
}
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: var(--color_link);
}
.cr{
  cursor: pointer;
}
.form-control{
    display: inline !important;
}
.form-control{
    display: inline !important;
    box-shadow: none !important;

}
.form-control.is-invalid{
    border-color:#B90000 !important;

}



body {
  margin: 0; font-family: Itim, "Helvetica Neue", sans-serif; 
  &::-webkit-scrollbar {
    width: 3px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    
    &:hover {
      background: #555;
    }
  }
}

  
  
  @media screen and (max-width: 479px) {
    .iti .iti__country-list {
      width: 88.3vw;
    }
  }
  .error-message{
    color: var(--error);
    font-size: 14px;
    font-weight: 400;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  ngx-intl-tel-input .custom {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px solid var(--gray1);
    padding: 17px 10px 10px 17px;
    width: 100%;
margin-bottom: 0;
    border-radius: 8px ;

  }
  
  ngx-intl-tel-input .success {

    border: 1px solid var(--success);
   

  }
  
  ngx-intl-tel-input .invalid {

    border: 1px solid var(--error);
   

  }
  ngx-intl-tel-input input:focus {
    outline: none !important;

  }
  
  ngx-intl-tel-input input::-webkit-input-placeholder {
    color: #bac2c7;
  }
  
  ngx-intl-tel-input input:-ms-input-placeholder {
    color: #bac2c7;
  }
  
  ngx-intl-tel-input input::-ms-input-placeholder {
    color: #bac2c7;
  }
  
  ngx-intl-tel-input input::placeholder {
    color: #bac2c7;
  }
  
  ngx-intl-tel-input input[disabled] {
    background-color: #e5eaf1;
  }
  

// view Topic 
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.295); /* شفافية */
  z-index: 8888 - 1; /* أقل من الـ Popup */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
