
.leftScroll{
    position: absolute;
    background: #befda5af;
    color: #79877E;
  
    padding: 12px;
    border-radius: 8px;
    top: 50%;
    inset-inline-start: 5px;
    height:80px;
    font-size: 20px;
    z-index: 588;
    display: flex;
    align-items: center;
    z-index: 700;
    background: hsla(103, 96%, 82%, 0.2);
    color: #79877E;
  
  
  }
  .rightScroll{
    position: absolute;
    background-color: transparent;
    padding: 12px;
    border-radius: 8px;
    top: 50%;
    inset-inline-end: 5px;
    height:80px;
    font-size: 20px;
    z-index: 588;
    display: flex;
    align-items: center;
    color: transparent;
    z-index: 700;
  
  
    background: hsla(103, 96%, 82%, 0.2);
    color: #79877E;
  }
  
  .rightScroll i , .rightScroll i{
    color: #79877e60;
  }
  
  .rightScroll:hover,  .leftScroll:hover {
  background: #befda5af;
  color: #79877E;
  }