<div class="home position-relative ">
    <div class="leftHome">

        <h1>{{ 'StudentHome.welcomeMessage' | translate }} <span>{{ 'StudentHome.logo' | translate }}</span> <br>{{ 'StudentHome.subTitle' | translate }}</h1>

        <p>{{ 'StudentHome.quote' | translate }}</p>

        <div class="listPostive mt-5">
            <ul>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ 'StudentHome.feature1' | translate }}</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ 'StudentHome.feature2' | translate }}</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ 'StudentHome.feature3' | translate }}</span>
                </li>
                <li>
                    <span class="Icon"><i class="fa-solid fa-check"></i></span>
                    <span class="text">{{ 'StudentHome.feature4' | translate }}</span>
                </li>
               
            </ul>


        </div>

         <div class="buttonCenter d-flex justify-content-center mt-5">
            <button class="shadow pickup-btn">{{ 'StudentHome.startButton' | translate }}</button>
         </div>

    </div>
    <div class="rightHome">
        <img src="Images/Login/StdudentsResgiter.png" alt="homeInstructor" class="img-fluid" />
    </div>

 
</div>