.sidebar {
  position: fixed;
  top: 7px;
  margin-inline-start: 7px;
  left: 0;
  right: 0;
  height: 96vh;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: width 0.4s ease-in;
  z-index: 700;
  backdrop-filter: blur(160px);
  width: 60px;
  box-shadow: 0 13.5px 30px #7090b01f  ;
  background-color: #28ab5d ;
 
}

.sidebar.collapsed {
  overflow: hidden;
}

.fixedSidebar {
  transition: 0.4s margin-left ease-in;

  margin-left: 160px;
  background-color: var(--white);

}

.fixed-sidebar-collapsed {
  transition: 0.4s margin-left ease-in;
  background-color: var(--white);

}

.sidebar.collapsed {
  transition: 0.4s width ease-in;
  width: 220px;
  background-color: var(--white);

}

.logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
}

.logoImages h3 {
  color: rgb(40, 41, 38);
  font-size: 23px;
  font-weight: 600;
  font-family: Itim;
  opacity: 0;
  transition: 0.4s opacity ease-in-out;
  margin-top: 5px !important;
}


.logoImages .logoName {
  opacity: 1;
  transition: 0.4s opacity ease-in-out;
}

.sidebar.collapsed   .icon_collaped path{
  color: var(--color_border);
  font-size: 20px;
  fill:  #28ab5d;
}
.icon_collaped i {
  color: var(--white);
  font-size: 20px;
}

.logo .right {
  position: absolute;
  cursor: pointer;
  transition: 0.4s all ease-in;
  overflow: hidden;
  top: 30px;
  right: 20px;
  transform: rotate(180deg) ;
}

.logo .center {
  cursor: pointer;
  transition: 0.4s all ease-out;
  overflow: hidden;

}

.line {
  background-color: var(--color_border);
  width: 100%;
  height: 0.5px;
  opacity: 0.8;
  transition:  0.4s  width ease-in-out;
}

.searchInput {
  transition: 0.4s  width ease-in-out;
}

.searchInput.close {
  width: 0;
  overflow: hidden;
  transition:  0.4s  width ease-in-out;
}

.searchInput input {
  border: 0.5px solid var(--color_border);
  border-radius: 5px;
  outline: none;
  padding: 6px 7px;
  transition: 0.4s width ease-in-out;
  width: 100%;
}

.navSide ul .list-item {
  cursor: pointer;
}
.list-item:last-child ,.nav ul li:last-child{
  position: absolute;
  bottom: 50px;
  width: 90%;
}

.navSide ul .list-item .nav-link {
  padding: 15px;
  background-color: transparent;
  border-radius: 15px;
  transition:  0.4s background-color ease-in-out;
  text-wrap: unset;
}

.navSide ul .list-item .nav-click {
  padding: 15px;
  background: #24c12b2b;
  border-radius: 7px;
}

.navSide ul .list-item .nav-link p {
  color: #6b6d6c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navSide ul .list-item .nav-click p {
  color: var(--color_link);
}

.navSide ul .list-item i {
  font-size: 13px !important;
  color: #6b6d6c;

}

.navSide ul .list-item .nav-click i {
  color: var(--color_link);
}

.cardlist {
  width: 100%;
  border-radius: 8px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding: 0px;
  margin-top: 5px;
  transition: max-height 0.4s ease-in-out, opacity  0.4s ease-in-out,
    padding  0.4s ease-in-out;
}

.cardlist.open {
  visibility: visible;
  max-height: 150px;
  padding: 15px 0px;
  overflow-x: hidden;
  overflow-y: scroll;

  opacity: 1;
}

.cardlist.open::-webkit-scrollbar {
  display: none;
}

.menu {
  padding: 0;
}

.submenu li {
  position: relative;
  padding: 20px;
  padding-left: 30px;

  margin-bottom: 15px;
}

.submenu li a {
  padding: 10px 12px;
  border-radius:6px;
  color: #6b6d6c;

}

.active {
  background-color: #24c12b2b !important;
  color: #000 !important;

}

.submenu li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -74px;
  height: 147%;
  width: 2px;
  background: var(--color_border);
  border-radius: 5px;
}

.submenu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 26px;
  padding: 15px;
  border-radius: 0px 0px 0px 25px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent transparent var(--color_border) var(--color_border);
}

.right .fa-angle-down {
  transition: transform 0.3s ease;
}

.right .fa-angle-down.rotate {
  transform: rotate(180deg);
}









.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 
  height: 100%;
  position: relative;
  
}
.nav.overflow {
  overflow: unset !important;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex
;
    flex: 115%;
    flex-direction: column;
    align-items: center;


}

.nav ul li {
  margin-bottom: 40px;
  font-size: 20px;
  position: relative;
  z-index: 104488400;
}

.nav ul li i {
  color: var(--white);
  transition: 0.4s color ease-in-out;
  cursor: pointer;
  padding: 6px;

}
.nav ul li .showRouters .TextRouter{
  height: 34px; 
  width: 100%;
  color: #000000 !important;
  font-size: 14px;
  font-weight: 500;
}
.nav ul li .showRouters .TextRouter span{
  display: block;
  width: 4px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #28ab5d;
}
.nav ul li .showRouters {
  background: var(--color_border);
  transition: 0.4s all ease-in-out;
  padding: 10px;
  border-radius: 10px;
  z-index: 55555;
  background-color: var(--white);
  box-shadow: 0px 3px 24px rgba(50, 56, 51, 0.36);
  width: 180px;
  opacity: 0;
  position: absolute;
  transform: translateY(-50%);
  pointer-events: painted;

  visibility: hidden;
  border-radius: 16px;
  background: var(--Background-White, #fff);
  box-shadow: 0 4px 16px #0000000f;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  width: 176px;
  height: -moz-fit-content;
  height: fit-content;
  inset-inline-start: 55px;
  padding: 8px 8px 5px;
  z-index: 101;
}

.nav ul li .showRouters a {
  background-color: var(--white);
  text-decoration: none;
  font-family: var(--font-family-1);
  display: block;
  padding: 8px 14px;
  gap: 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6b6d6c;

}

.nav ul li .showRouters a:hover {
  background-color: var(--color-side);
  color: #000000 !important;
}

.nav ul li.show i {
  background-color: #d7ead26e;
  color: #28ab5d !important;
  border-radius: 4px;

}

.nav ul li.show .showRouters {
  opacity: 1;
  z-index: 888888888400;
  visibility: visible;
}

.nav ul li {
  position: relative; 
  z-index: 1;
}

.nav ul li:hover {
  z-index: 2; 
}

.overlayisCollapsed{
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
}


::ng-deep .p-tooltip{
  z-index: 888888888888888888888888888888888888888888888888888888888888888888888 !important;

}


::ng-deep .p-tooltip .p-tooltip-text {
  background-color: #ffffff !important;
  color: #000000; 
  padding: 8px 12px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  font-size: 12px; 
  border: none; 
  font-family: var(--font-family-1) !important;
  border-radius: 5px !important;
}

::ng-deep .p-tooltip .p-tooltip-arrow {
  border-right-color: #ffffff  !important; 
  border-radius: none !important;
  border-left: none !important;
  border-bottom: none !important;
  border-top: none !important;


  


}
::ng-deep .p-tooltip.p-tooltip-top {
  transform: translateY(-7px); 
}

