
<div  [ngClass]="!isCollapsed ? 'fixed-sidebar-collapsed':  'fixedSidebar'">
  <div class="sidebar "  [class.collapsed]="isCollapsed">
    <div class="logo" >
      <div class="logoImages pos "> 
      <div class="  d-flex align-items-center " routerLink="homeInstructor">
        <img src="Images/logoPickup.png" alt="logo" width="50" />

        <h3 class="m-0  "  [class.logoName]="isCollapsed">Pickup</h3>

      </div>

      <div class=" icon_collaped" (click)="toggleSidebar()"  [class.right]="isCollapsed"  [class.center]="!isCollapsed" >
        <i class="fa-solid fa-right-left "></i>

      </div>
      </div>

        @if(isCollapsed){
          <div class="searchInput" [class.close]="!isCollapsed" >
            <input type="search" name="" id="" placeholder="Search" >
          </div>
        }

     <div   [class.line]="isCollapsed"></div>
    </div>


    @if(isCollapsed){
      
    <nav class="p-2 pt-0 navSide"  >
      <ul class="p-0">
        <li *ngFor="let item of ListSidebarOpen; let i = index" class="list-item">
          <div 
            class=" nav-link d-flex align-items-center justify-content-between"
            [class.nav-click]="openIndex === i" 

            (click)="toggleCard(i)"

          >
            <div class="left d-flex align-items-center gap-2">
              <i class="fs-5" [class]="item.Icon"></i>
              <p class="m-0">{{ item.name }}</p>
            </div>
            <div class="right">
              <i class="fa-solid fa-angle-down"  [class.rotate]="openIndex === i"></i>
            </div>
          </div>
          <div class="cardlist w-100" [class.open]="openIndex === i">
            <ul class="menu">
              <li class="parent">
                <ul class="submenu">
                  <li *ngFor="let course of item.list; let j = index">
                    <a  routerLinkActive="active" [routerLink]="item.routes[j]"> {{ course }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      
      
      
    </nav>

    }


    @if(!isCollapsed ){
      <nav [class.overflow]="activeIndex !== null" class="nav mt-5">
        <ul>
          @for (menuItem of ListSidebarOpen; track $index) {
            <li class="home" [class.show]="activeIndex === $index" >
              <i [class]="menuItem.Icon" (click)="togglesidebarCollaped($index)"></i>
              <div [class.showRouters]="!isCollapsed" [ngClass]="!isCollapsed ? '' : 'd-none'"  >
                @for (router of menuItem.routes; track $index) {
                  <a [routerLink]="'/'+router" routerLinkActive="active" (click)="toggleRoute()">{{ menuItem.list[$index] }}</a>
                  
                }
              </div>
            </li>
          }
        </ul>
      </nav>
    }









   

  </div>
  
</div>