<div class="overlay"></div>

<div class="shwowViewTopic">
    <app-top-pop [NamePopup]="'View Topic'" (isVisibleChange)="closeViewTopic()" [bgColor]="'#effee8'"
        [Color]="'#1e9e23'" [NameIcon]="'fa-solid fa-tachograph-digital'"></app-top-pop>

    <div class="bodyView">
        <div class="start">
            <div class="leftViewTopic">
                <div class="title d-flex justify-content-between align-items-center">
                    <div class="IconTit mb-1 d-flex gap-2 align-items-center">
                        <span class="color-indicator" [style.background]="TopicResult.result.color">
                            <i [class]="TopicResult.result.icon" aria-hidden="true"></i>
                        </span>
                        <h5>{{TopicResult.result.name}}</h5>
                        <div class="defaultValue" *ngIf="TopicResult.result.default">
                            <div class="iconShow">
                                <i class="fa fa-star" aria-hidden="true"></i>
    
                            </div>
                        </div>
            

                    </div>
                    <div class="more">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <p [pTooltip]="TopicResult.result.description" tooltipPosition="top">{{TopicResult.result.description | spliceDescreption}}</p>

            </div>
            <div class="invoice" style="width: 315px;">
                <div class="ViewDealValue">
                    <div class="boxContainer">
                        <div class="box">
                            <div class="content">
                                <div class="dealValue"> Total Price</div>
                                <div class="price" >
                                    <span class="no" [style.color]="TopicResult.result.color">{{TopicResult.result.snapshot.totalPrice}}</span>
                                    <span class="currency">EGP</span>
                                </div>
                                <div class="line" [style.background]="TopicResult.result.color"></div>
                            </div>

                        </div>
                        <div class="expectedProfits ">
                            <div class="label">Courses :</div>
                            <div class="value">
                                <span class="expected">{{TopicResult.result.snapshot.coursesCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="widgets ">
            <div class="box">
                <div id="ddBoxIcon" class="icon">
                    <i class="fa-kit fa-calender"></i>
                </div>
                <div id="ddContent" class="content">
                    <div class="label">Creation Date</div>
                    <div class="date"><span id="ddNum" class="num">{{TopicResult.result.createdOn |date}}</span></div>


                </div>
            </div>
            <div class="box">
                <div id="ddBoxIcon" class="icon">
                    <img alt="" src="https://s3.dinarcrm.com/assets/img/board-mangement/Icon-Interface.svg">
                
                </div>
                <div id="ddContent" class="content">
                    <div class="label">Creator Name</div>
                    @if(TopicResult.result.creator){
                        <span>{{TopicResult.result.creator.name}}</span>

                    }
                    @else {
                        <span>--</span>

                    }
                </div>
            </div>
            <div class="box">
                <div id="ddBoxIcon" class="icon">
                    <img alt="" src="https://s3.dinarcrm.com/assets/img/board-mangement/Icon-Interface.svg">
                
                </div>
                <div id="ddContent" class="content">
                    <div class="label">Updater Name</div>
                    @if(TopicResult.result.updater){
                        <span>{{TopicResult.result.updater.name}}</span>

                    }
                    @else {
                        <span>--</span>

                    }

                </div>
            </div>
            <div class="box">
                <div id="ddBoxIcon" class="icon">
                    <i class="fa-kit fa-calender"></i>
                </div>
                <div id="ddContent" class="content">
                    <div class="label">Updation Date</div>
                    @if(TopicResult.result.updatedOn){
                        <div class="date">
                            <span id="ddNum" class="num">{{TopicResult.result.createdOn | date}}</span>
                        </div>                        }
                        @else {
                            <div class="date">
                                <span> - - </span>
                            </div> 
                        }
       

                </div>
            </div>

        </div>


    </div>