<div class="cardKanban" [id]="'stage-' + stageColumn.stageId" cdkDropList [cdkDropListData]="stageColumn.courses"
  [cdkDropListConnectedTo]="getConnectedStages()"  (cdkDropListDropped)="onDrop($event)">
  <div class="headerCard d-flex  px-2 justify-content-between align-items-center"
    [ngStyle]="{ 'border-color': colorBorder}">
    <div class="stageProcess d-flex gap-3 align-items-center">
      <div class="progressBar" [ngStyle]="{ 'border-color': stageColumn.color}"></div>
      <div class="stageTitle">
        <div class="stageName d-flex gap-2 align-items-center">
          <p class="m-0">{{stageColumn.name}}</p> 
          <div class="stageNumberCourses">
            <span class="numberOfStage">{{stageColumn.coursesCount}}</span>
          </div>
        </div>
        <span class="stageStatus">{{stageColumn.totalPrice}}</span>
      </div>

    </div>

    <div class="addStage">
      <i class="fa fa-plus fs-4" aria-hidden="true"></i>
    </div>


  </div>




  <!-- @for (course of stageColumn.courses; track course.courseId) {
        <app-card-stage  [course]="course" [courseColor]="stageColumn.color" cdkDrag></app-card-stage>
      } -->

  <div class="cardBodyKanban">
    <div *ngFor="let course of stageColumn.courses; trackBy: trackById" cdkDrag class="dragItem">
      <app-card-stage [course]="course" [courseColor]="stageColumn.color"></app-card-stage>

      <div *cdkDragPreview class="drag-preview">
        <app-card-stage [course]="course" [courseColor]="stageColumn.color"></app-card-stage>
      </div>

      <div *cdkDragPlaceholder class="drag-placeholder"></div>
    </div>

  </div>

</div>